<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">

<title>KFL 平台</title>
<link rel="stylesheet"
			href="/public/js/dojotoolkit/dijit/themes/nihilo/nihilo.css" />
<link rel="shortcut icon" href="/public/image/favicon.ico" />
<link rel="icon" type="image/gif" href="/public/image/animated_favicon1.gif">
<!-- load the dojo toolkit base -->
	<script type="text/javascript" src="/public/js/dojotoolkit/dojo/dojo.js"
	    djConfig="parseOnLoad:true, isDebug:false"></script>
    <script type="text/javascript">

		dojo.require("dijit.layout.BorderContainer");
		dojo.require("dijit.layout.TabContainer");
		dojo.require("dijit.layout.AccordionContainer");
		dojo.require("dijit.layout.ContentPane");

		dojo.require("dijit.TitlePane");
		
		dojo.require("dojo.dnd.move");

		  dojo.require("dijit.MenuBar");
		  dojo.require("dijit.PopupMenuBarItem");
		  dojo.require("dijit.Menu");
		  dojo.require("dijit.MenuItem");
		  dojo.require("dijit.PopupMenuItem");

		  dojo.require("dijit.Dialog");
		  dojo.require("dijit.form.Form");
		  dojo.require("dijit.form.TextBox");
		  dojo.require("dijit.form.Textarea");		  
		  dojo.require("dijit.form.ValidationTextBox");
		  dojo.require("dijit.form.Button");
		  dojo.require("dijit.form.ComboBox");
		  
		  dojo.require("dojo.data.ItemFileReadStore");
		  dojo.require("dijit.Tree");

		  
		  var projectStore = {
			        identifier: 'app_id',
			        label: 'app_name',
			        items: <?=$project_json?>
			    }

		  var gCurAppName = '<?=$app_name?>';	
		  var gCurAppDir = '<?=$app_dir?>';	
		  dojo.addOnLoad(function() {
			  refreshTree();
			  }
		  )
	</script>
	<script type="text/javascript" src="/public/js/common.js"></script>
    <style>
	html, body, #mainDiv {
	font-size:14px;
  width: 100%; height: 100%;
  border: 0; padding: 5; margin: 0;
}
	
	</style>

</head>
<body class="nihilo">

<ul dojoType="dijit.Menu" id="tree_menu" style="display: none;">
    <li dojoType="dijit.MenuItem" onClick="alert('Hello world');">
        Item #1
    </li>
    <li dojoType="dijit.MenuItem">
        Item #2
    </li>
</ul>

    
<div id="mainDiv" dojoType="dijit.layout.BorderContainer">
	 
     <div dojoType="dijit.layout.ContentPane" region="top" style="border: 0px solid #ccc;margin-bottom:0px;">
			
			<div dojoType="dijit.MenuBar" id="navMenu" style="border: 0px solid #ccc;">
					<span><img src="/public/image/kfllogo.gif"><img src="/public/image/logo.gif"></span>
			        <div dojoType="dijit.PopupMenuBarItem">
			                <span>首页</span>
			                <div dojoType="dijit.Menu" id="fileMenu">
			                        <div dojoType="dijit.MenuItem" onClick="aboutus();">关于作者</div>
			                        <div dojoType="dijit.MenuItem" onClick="view_phpinfo('phpinfo');">PHP INFO</div>
			                        <div dojoType="dijit.MenuItem" onClick="window.location.href='/index.php/index/logout';">退出</div>
			                </div>
			        </div>

			        <div dojoType="dijit.PopupMenuBarItem">
			                <span>配置管理</span>
			                <div dojoType="dijit.Menu" id="configMenu">
			                        <div dojoType="dijit.MenuItem" onClick="getText('/setting/system','系统配置')">系统配置</div>
			                        <div dojoType="dijit.MenuItem" onClick="getText('/setting/website','网站信息')">网站信息</div>
			                        <div dojoType="dijit.MenuItem" onClick="getText('/setting/email','邮件发送')">邮件发送</div>
			                        <div dojoType="dijit.MenuItem" onClick="getText('/setting/database','数据库配置')">数据库配置</div>
			                        <div dojoType="dijit.MenuItem" onClick="getText('/setting/timezone','时间语言')">时间语言</div>
			                        
			                </div>
			        </div>
			        <div dojoType="dijit.PopupMenuBarItem">
			                <span>缓存管理</span>
			                <div dojoType="dijit.Menu" id="phpMenu">
			                        <div dojoType="dijit.MenuItem" onClick="getText('/cache/memcached','分布式内存')">分布式内存</div>
			                        <div dojoType="dijit.MenuItem" onClick="getText('/cache/packet','数据片缓存')">数据片缓存</div>
			                        <div dojoType="dijit.MenuItem" onClick="getText('/cache/page','页面缓存')">页面缓存</div>
			                </div>
			        </div>
			      
			        
			        <div dojoType="dijit.PopupMenuBarItem">
			                <span>会话管理</span>
			                <div dojoType="dijit.Menu" id="sessionMenu">
			                        <div dojoType="dijit.MenuItem" onClick="getText('/session/basicset','会话配置')">会话配置</div>
			                        <div dojoType="dijit.MenuItem" onClick="getText('/session/stats','在线统计')">在线统计</div>
			                </div>
			        </div>		
			  
			        <div dojoType="dijit.PopupMenuBarItem">
			                <span>监控管理</span>
			                <div dojoType="dijit.Menu" id="logMenu">
			                		<div dojoType="dijit.MenuItem" onClick="getText('/monitor/noticeset','监控设置')">监控设置</div>
			                        <div dojoType="dijit.MenuItem" onClick="getText('/monitor/eventlog','事件日志')">事件日志</div>
			                        <div dojoType="dijit.MenuItem" onClick="getText('/monitor/errorlog','应用日志')">应用日志</div>
			                        
			                </div>
			        </div>
			        <div dojoType="dijit.PopupMenuBarItem">
			                <span>文件管理</span>
			                <div dojoType="dijit.Menu" id="dataMenu">
			                        <div dojoType="dijit.MenuItem" onClick="getText('/storage/userfile','用户文件')">用户文件</div>
			                        <div dojoType="dijit.MenuItem" onClick="getText('/storage/upload','上传数据')">上传数据</div>
			                </div>
			        </div>			        	     
			</div>
	 </div>
	 <div id="leftDiv" dojoType="dijit.layout.AccordionContainer" region="leading" splitter="true" style="width:200px">
		<div dojoType="dijit.layout.ContentPane" title="项目文件" >	
		  	<button dojoType="dijit.form.Button" onClick="refreshTree()">刷新目录</button>	
		  <div id="target"></div> <div id="file_tree"></div>
		</div>	
	 <div dojoType="dijit.layout.ContentPane" title="KFL 简介">
			<p>
			&nbsp;&nbsp;KFL是一个轻快的、友好的、MVC模式的PHP开发框架，基于应用层解决Webserver集群带来的系列问题。
			</p>
				<label>主要特点:</label>
				
				<ul style="list-style-type: decimal;padding-left:20px;">
				<li>统一配置，一键同步。</li>
				<li>支持数据片和网页的分布式缓存。</li>
				<li>支持Session会话数据同步和在线用户统计。</li>
				<li>支持错误日志和应用服务监控。</li>
				<li>集成用户数据文件的分布式存储服务。</li>
				
				</ul>
		  
		</div>
	
	 </div>
     <div dojoType="dijit.layout.TabContainer" region="center" splitter="true" id="maindiv">
          <div dojoType="dijit.layout.ContentPane" title="控制面板" id="dashboard" >
          
          		 <div style="width:400px;" dojoType="dojo.dnd.Moveable">
	         		  <script type="dojo/method">this.mover = dojo.dnd.boxConstrainedMover({l: 0, t: 0, w: 800, h: 700}, true);</script>
			          <div dojoType="dijit.TitlePane" title="项目列表" >     
					    <div dojoType="dojo.data.ItemFileReadStore" data="projectStore" jsId="projectStore">
						</div>
						<div dojoType="dijit.form.ComboBox" id="projectSelect" store="projectStore" searchAttr="app_name"
						 value="<?=$app_name?>">
						</div>   <button dojoType="dijit.form.Button"  onClick="changeProject()"> 浏览项目 </button>
					  </div>
	        	 </div>
          
          
	         	<div style="width:400px;" dojoType="dojo.dnd.Moveable">
	         		  <script type="dojo/method">this.mover = dojo.dnd.boxConstrainedMover({l: 0, t: 0, w: 800, h: 700}, true);</script>
			          <div dojoType="dijit.TitlePane" title="快速创建项目" style="margin-top:15px">     
				          <div method="" jsid="appcreate_form" id="appcreate_form" dojoType="dijit.form.Form" action="">
				         <input type="hidden" name="action" value="index">
						<input type="hidden" name="op" value="createapp">
				<script type="dojo/method" event="onSubmit">
			if (this.validate()) {
            var xhrArgs = {
					url:"/index.php",
        	        form: 'appcreate_form',
        	        handleAs: "json",
        	        load: function(data){
    	      			//alert(data);
						if(data.s==200){
		        	        dojo.byId("AlertCon2").innerHTML = data.m;
		        	        dijit.byId("AlertShow2").show();
						}
						if(data.s==400){
    	        			dojo.byId("AlertCon2").innerHTML = data.m;
		        	        dijit.byId("AlertShow2").show();
    	        		}
        	        },
        	        error: function(error,ioargs){
					  alert(error);
       	        	  var message = httpErrorReport(ioargs.xhr.status);
        	          dojo.byId("AlertCon2").innerHTML = message;
        	          dijit.byId("AlertShow2").show();
        	        }
        	      }
         
          	var deferred = dojo.xhrPost(xhrArgs);
        	
            return false;
        } else {
          
            return false;
        }
	</script>
						   项目名称 <input dojoType="dijit.form.ValidationTextBox" required="true" regExp='([a-zA-Z0-9_]+)' invalidMessage='变量名不符合规则:([a-zA-Z0-9_]+)' type="text" name="app_name" id="app_name" value=""> 
						   <button type="submit" dojoType="dijit.form.Button" >生成目录</button>
							</div>
					  </div>
	        	 </div>
	        	 
	        	 <div style="width:400px;" dojoType="dojo.dnd.Moveable">
	         		  <script type="dojo/method">this.mover = dojo.dnd.boxConstrainedMover({l: 0, t: 0, w: 800, h: 700}, true);</script>
			          <div dojoType="dijit.TitlePane" title="配置文件" style="margin-top:15px">     
					     <button dojoType="dijit.form.Button" onclick="renewConfigFile('renewconfig');">重新生成</button>
					     <button dojoType="dijit.form.Button" onclick="renewConfigFile('copyconfig');">同步文件</button>
					     <button dojoType="dijit.form.Button" onclick="restoreConfigFile();">恢复文件</button>
					  </div>
	        	 </div>
          </div>
          
     </div>
    
     <div dojoType="dijit.layout.ContentPane" region="bottom" align="center">Powered by KFL Framework.GUI by Dojo Toolkit.</div>
</div>
 
 <!-- dialog div -->
 <div dojoType="dijit.Dialog" id="dialog1" title="关于作者"
    execute="alert('submitted w/args:\n' + dojo.toJson(arguments[0], true));">
    <ul>
    	<li>ID：kakapo</li>
    	<li>QQ：84979065</li>
    	<li>Email：kakapowu@gmail.com</li>
    </ul>
 </div>
 
  <!-- Alert div -->
 <div dojoType="dijit.Dialog" id="AlertShow" title="提示信息"
    execute="alert('submitted w/args:\n' + dojo.toJson(arguments[0], true));">
   <div id="AlertCon" style="width:200px;height:80px;"></div>
 </div>
 
   <!-- Alert div -->
 <div dojoType="dijit.Dialog" id="AlertShow2" title="提示信息"
    execute="alert('submitted w/args:\n' + dojo.toJson(arguments[0], true));">
   <div id="AlertCon2" style="width:200px;height:80px;"></div>
 </div>
</body>
</html>