<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<title>Insert title here</title>

</head>
<body class="nihilo">


<div style="height:50px;">
	<div style="margin:10px;">位置: 会话管理  > 在线统计</div>

</div>

<table style="width:600px;margin:10px">
<thead>
<tr >
<td style="border-bottom:1px solid #ccc;width:150px;background-color:#eee">Server</td>
<td style="border-bottom:1px solid #ccc;width:300px;background-color:#eee">信息</td>
<td style="border-bottom:1px solid #ccc;width:150px;background-color:#eee">操作</td>
</tr>
</thead>
<tbody id="email_table">
<?php foreach($total_stats as $server=>$stats){?>
<tr>
<td><?=$server?></td>
<td><?php foreach($stats as $k=>$v){?>
<li><?=$k?> : <?=$v?></li>
<? }?>
</td>
</tr>
<? }?>
</tbody>

</table>


</body>
</html>