<object classid="clsid:D27CDB6E-AE6D-11cf-96B8-444553540000" width="100%" height="100%" id="guodongdev">
	<param name="movie" value="<?=$image_site_url?>/flash/guodongedit.swf?userId=<?=$user_name?>" />
	<param name="quality" value="high" />
	<param name="bgcolor" value="#869ca7" />
	<param name="allowScriptAccess" value="always" />
	<param name="allowFullScreen" value="true" />
	<param name="wmode" value="transparent">
	<embed width="100%" height="100%" pluginspage="http://www.macromedia.com/shockwave/download/index.cgi?P1_Prod_Version=ShockwaveFlash" type="application/x-shockwave-flash" allowScriptAccess="always" swliveconnect="TRUE" id="guodongdev" name="guodongdev" wmode="transparent" quality="high" bgcolor="#869ca7" src="<?=$image_site_url?>/flash/guodongedit.swf?userId=<?=$user_name?>"/>
</object>
