
<div class="clr"></div>

<div style="margin-bottom:20px;margin-top:20px;margin-left:50px;float:left;margin-right:auto;width:900px;">
	<? if(isset($index_ad_foot_910x80)) include($index_ad_foot_910x80)?>

</div>

<div class="foot">
	<div class="foot_nav gray6_12">
		<div class="foot_a">
    	<a href="/index.php/help/aboutme" class="gray_green_12_4 none" target="_blank">关于我们</a><span>|</span>
        <a href="/index.php/help/clause" class="gray_green_12_4 none" target="_blank">使用条款</a><span>|</span>
        <a href="/index.php/help/newuser" class="gray_green_12_4 none" target="_blank">帮助</a><span>|</span>
        <a href="/index.php/help/map" class="gray_green_12_4 none" target="_blank">网站地图</a><span>|</span>
        <a href="/index.php/help/hzhb" class="gray_green_12_4 none" target="_blank">合作伙伴</a>
        <div class="clr"></div>

  		 </div>
    </div>

    <div class="foot_copy">

    </div>
</div>
<div class="clr"></div>

<!-- 全站悬浮广告开始-->
<div id="page_index" style="display:none;">
<? if(isset($global_float_ad_200x130)) include($global_float_ad_200x130);?>
</div>
<!-- 全站悬浮广告结束 -->

<!-- 后加载js -->
<script language="javascript" type="text/javascript" src="<?=$image_site_url?>/js/datacom.js?v=<?=$version?>"></script>
<script language="javascript" type="text/javascript" src="<?=$image_site_url?>/js/control/control.js?v=<?=$version?>"></script>
<script language="javascript" type="text/javascript" src="<?=$image_site_url?>/js/control/login.js?v=<?=$version?>"></script>
<script language="javascript" type="text/javascript" src="<?=$image_site_url?>/images/upload/festival/js/Festival.js"></script>
<script type="text/javascript">
var todday="<? echo date('Y-m-d')?>";
if(typeof(FA)!="undefined") {
  for(var i=0;i<FA.length;i++){
   arr=FA[i].split("|");
   if(arr[0]==todday){
     document.getElementById("festTitle").innerHTML=arr[1];
     document.getElementById("festImage").innerHTML="<img src="+arr[2]+" />";
     break;
   }
  }
 }
</script>
<!-- 后加载js -->

<!-- 统计代码开始-->
<div style="display: none;">
<script src='http://s135.cnzz.com/stat.php?id=1007177&web_id=1007177' language='JavaScript' charset='gb2312'></script>
<script type="text/javascript">
var gaJsHost = (("https:" == document.location.protocol) ? "https://ssl." : "http://www.");
document.write(unescape("%3Cscript src='" + gaJsHost + "google-analytics.com/ga.js' type='text/javascript'%3E%3C/script%3E"));
</script>
<script type="text/javascript">
var pageTracker = _gat._getTracker("UA-5244987-1");
pageTracker._trackPageview();
</script>
</div>
<!-- 统计代码结束-->