<div class="player">
  <div class="pla_cbg">
	  	<div class="fla_titbg">
	      <div class="user_name white_13b"></div>
	      <div class="user_sex"><a  id="boy" class="sex_a">男</a><a id="girl" class="sex_a">女</a></div>
	    </div>

		<div class="flash" id="altContent" style=" margin-top:10px;z-index:0">
			<object classid="clsid:D27CDB6E-AE6D-11cf-96B8-444553540000" width="100%" height="100%" id="guodongdev">
                <param name="movie" value="<?=$image_site_url?>/flash/guodongdev.swf" />
                <param name="quality" value="high" />
                <param name="bgcolor" value="#869ca7" />
                <param name="allowScriptAccess" value="always" />
                <param name="allowFullScreen" value="true" />
                <embed width="100%" height="100%" pluginspage="http://www.macromedia.com/shockwave/download/index.cgi?P1_Prod_Version=ShockwaveFlash" type="application/x-shockwave-flash" allowScriptAccess="always" swliveconnect="TRUE" id="guodongdev" name="guodongdev" wmode="" quality="high" bgcolor="#869ca7" src="<?=$image_site_url?>/flash/guodongdev.swf"/>
                <!--[if !IE]>
                <object type="application/x-shockwave-flash" data="<?=$image_site_url?>/flash/guodongdev.swf" width="100%" height="100%">
                    <param name="quality" value="high" />
                    <param name="bgcolor" value="#869ca7" />
                    <param name="allowScriptAccess" value="sameDomain" />
                    <param name="allowFullScreen" value="true" />
                <![endif]-->
                <!--[if gte IE 6]>
                	<p>
                		Either scripts and active content are not permitted to run or Adobe Flash Player version
                		9.0.124 or greater is not installed.
                	</p>
                <![endif]-->

                <!--[if !IE]>
                </object>
                <![endif]-->


            </object>

		</div>

        <div class="clr"></div>
        <div class="fla_save" >
          <a class="save_inport" href="/index.php?action=user&view=center&user=<?=$user_name?>"><img src="<?=$image_site_url?>/images/component/player/grzy_btn.jpg" style="margin-right:40px;margin-left:30px;"/></a>
          <a href="/index.php?action=works" target="_blank"><img src="<?=$image_site_url?>/images/component/player/uo_btn.jpg" alt="原创作品上传"></a>
        </div>
  	</div>
  </div>
<script>
if(Cookies.getCookie("VIEW_GENDER")=='boy') {
	$('boy').className = 'sex_h';
}else if(Cookies.getCookie("VIEW_GENDER")=='girl'){
	$('girl').className = 'sex_h';
}else{
	$('boy').className = 'sex_h';
}
</script>