<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<title>KFL 平台</title>
<link rel="stylesheet"
			href="/public/js/dojotoolkit/dijit/themes/nihilo/nihilo.css" />

<!-- load the dojo toolkit base -->
	<script type="text/javascript" src="/public/js/dojotoolkit/dojo/dojo.js"
	    djConfig="parseOnLoad:true, isDebug:false"></script>
    <script type="text/javascript">

		dojo.require("dijit.layout.BorderContainer");
		dojo.require("dijit.layout.TabContainer");
		dojo.require("dijit.layout.AccordionContainer");
		dojo.require("dijit.layout.ContentPane");

		  dojo.require("dijit.MenuBar");
		  dojo.require("dijit.PopupMenuBarItem");
		  dojo.require("dijit.Menu");
		  dojo.require("dijit.MenuItem");
		  dojo.require("dijit.PopupMenuItem");

		  dojo.require("dijit.Dialog");
		  dojo.require("dijit.form.Form");
		  dojo.require("dijit.form.TextBox");
		  dojo.require("dijit.form.ValidationTextBox");
		  dojo.require("dijit.form.Button");
		  dojo.require("dijit.form.ComboBox");
		  
				
	</script>
	<script type="text/javascript" src="/public/js/common.js"></script>
    <style>
	html, body, #mainDiv {
	font-size:14px;
  width: 100%; height: 100%;
  border: 0; padding: 5; margin: 0;
}
	
	</style>

</head>
<body class="nihilo">


    
<div id="mainDiv" dojoType="dijit.layout.BorderContainer">
	 
     <div dojoType="dijit.layout.ContentPane" region="top" style="border: 0px solid #ccc;">
			
			<div dojoType="dijit.MenuBar" id="navMenu" style="border: 0px solid #ccc;">
					<span><img src="/public/image/logo.gif"></span>
			        <div dojoType="dijit.PopupMenuBarItem">
			                <span>首页</span>
			                <div dojoType="dijit.Menu" id="fileMenu">
			                        <div dojoType="dijit.MenuItem" onClick="aboutus();">关于作者</div>
			                        <div dojoType="dijit.MenuItem" onClick="getText('/index/phpinfo');">PHP INFO</div>
			                        <div dojoType="dijit.MenuItem" onClick="window.location.href='/index.php/index/logout';">退出</div>
			                </div>
			        </div>

			        <div dojoType="dijit.PopupMenuBarItem">
			                <span>配置管理</span>
			                <div dojoType="dijit.Menu" id="configMenu">
			                        <div dojoType="dijit.MenuItem" onClick="getText('/setting/system','系统配置')">系统配置</div>
			                        <div dojoType="dijit.MenuItem" onClick="getText('/setting/website','网站信息')">网站信息</div>
			                        <div dojoType="dijit.MenuItem" onClick="getText('/setting/email','邮件发送')">邮件发送</div>
			                        <div dojoType="dijit.MenuItem" onClick="getText('/setting/database','数据库配置')">数据库配置</div>
			                        <div dojoType="dijit.MenuItem" onClick="getText('/setting/timezone','时间语言')">时间语言</div>
			                        
			                </div>
			        </div>
			        <div dojoType="dijit.PopupMenuBarItem">
			                <span>缓存管理</span>
			                <div dojoType="dijit.Menu" id="phpMenu">
			                        <div dojoType="dijit.MenuItem" onClick="getText('/cache/memcached','分布式内存')">分布式内存</div>
			                        <div dojoType="dijit.MenuItem" onClick="getText('/cache/packet','数据片缓存')">数据片缓存</div>
			                        <div dojoType="dijit.MenuItem" onClick="getText('/cache/page','页面缓存')">页面缓存</div>
			                </div>
			        </div>
			      
			        
			        <div dojoType="dijit.PopupMenuBarItem">
			                <span>会话管理</span>
			                <div dojoType="dijit.Menu" id="sessionMenu">
			                        <div dojoType="dijit.MenuItem" onClick="alert('edit 1')">配置</div>
			                        <div dojoType="dijit.MenuItem" onClick="alert('edit 2')">统计</div>
			                </div>
			        </div>		
			  
			        <div dojoType="dijit.PopupMenuBarItem">
			                <span>日志管理</span>
			                <div dojoType="dijit.Menu" id="logMenu">
			                        <div dojoType="dijit.MenuItem" onClick="alert('edit 1')">事件日志</div>
			                        <div dojoType="dijit.MenuItem" onClick="alert('edit 2')">PHP错误</div>
			                        
			                </div>
			        </div>
			        <div dojoType="dijit.PopupMenuBarItem">
			                <span>数据管理</span>
			                <div dojoType="dijit.Menu" id="dataMenu">
			                        <div dojoType="dijit.MenuItem" onClick="alert('edit 1')">用户数据</div>
			                        <div dojoType="dijit.MenuItem" onClick="alert('edit 2')">临时上传数据</div>
			                </div>
			        </div>			        	     
			</div>
	 </div>
	 <div id="leftDiv" dojoType="dijit.layout.AccordionContainer" region="leading" splitter="true" style="width:200px">
			<div dojoType="dijit.layout.AccordionPane" title="KFL 简介">
			<p>
			&nbsp;&nbsp;KFL是之前KFC框架的轻量级版本，框架KFL目录下所有文件大小35k，主要去除了KFC的组件概念，保留了MVC的开发模式，特别适合前台的网站开发。
</p>
<label>主要特点:</label>

<ul style="list-style-type: decimal;padding-left:20px;">
<li>使用MVC开发模式。</li>
<li>引入文件少，启动快速。</li>
<li>具备针对访问路径的页面自动缓存功能；</li>
<li>模板本身就是使用php语法，简单友好；</li>
<li>采用pdo进行数据库访问，高速易用；</li>
<li>session 支持 file,mysql,memcache存储功能；</li>
<li>单一入口访问网站，安全。</li>
</ul>
		  
		</div>
	 </div>
     <div dojoType="dijit.layout.TabContainer" region="center" splitter="true" id="maindiv">
          <div dojoType="dijit.layout.ContentPane" title="控制面板" id="dashboard">tab pane #1</div>
          
     </div>
    
     <div dojoType="dijit.layout.ContentPane" region="bottom" align="center">Powered by KFL Framework.GUI by Dojo Toolkit.</div>
</div>
 
 <!-- dialog div -->
 <div dojoType="dijit.Dialog" id="dialog1" title="关于作者"
    execute="alert('submitted w/args:\n' + dojo.toJson(arguments[0], true));">
    <ul>
    	<li>Name：kakapo</li>
    	<li>QQ：84979065</li>
    	<li>Email：kakapowu@gmail.com</li>
    </ul>
 </div>
 
  <!-- Alert div -->
 <div dojoType="dijit.Dialog" id="AlertShow" title="提示信息"
    execute="alert('submitted w/args:\n' + dojo.toJson(arguments[0], true));">
   <span id="AlertCon"></span>
 </div>
</body>
</html>