<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<title>Insert title here</title>

</head>
<body class="nihilo">


<div dojoType="dijit.TitlePane" open="false" title="功能说明" style="width:300px;height:300px;float:right">
	<ul>
	会话全局变量
	<li>1、支持数据库存储</li>
	<li>2、分布式Memcached存储</li>
	</ul>
  <p>注意：memcached支持多服务器，用","分隔</p>
</div>
	


<div style="height:50px;">
	<div style="margin:10px;">位置: 会话管理  > 基本设置</div>

</div>

<div method="post" jsid="basicset_form" id="basicset_form" dojoType="dijit.form.Form" action="/index.php">

 <script type="dojo/method" event="onSubmit">
		
 		if (this.validate()) {
        	submitForm("basicset_form");
            return false;
        } else {
            return false;
        }
       
    </script>
<input type="hidden" name="action" value="setting">
<input type="hidden" name="op" value="save">
<input type="hidden" name="set_type" value="<?=$set_type?>">
<table style="width:600px;margin:10px">
<thead>
<tr >
<td style="border-bottom:1px solid #ccc;width:150px;background-color:#eee">变量</td>
<td style="border-bottom:1px solid #ccc;width:250px;background-color:#eee">值</td>
<td style="border-bottom:1px solid #ccc;width:250px;background-color:#eee">备注</td>
</tr>
</thead>
<tbody id="basicset_table">

<tr id="row_sessionHandle">
<td>sessionHandle<input type="hidden" name="name_sessionHandle" value="sessionHandle"></td>
<td><input dojoType="dijit.form.ValidationTextBox" required="true" regExp='("file"|"memcache"|"database")' invalidMessage='变量名不符合规则:("file"|"memcache"|"database")' type="text" name="valu_sessionHandle" id="valu_sessionHandle" value="<?=$sets['sessionHandle']?>"></td>
<td style="font-size:12px;color:#666">Session 存储方式</td>
</tr>


<tr id="row_lifeTime">
<td>lifeTime<input type="hidden" name="name_lifeTime" value="lifeTime"></td>
<td><input dojoType="dijit.form.ValidationTextBox" required="true" regExp="[0-9]+" invalidMessage="变量名不符合规则:[0-9]+" type="text" name="valu_lifeTime" id="valu_lifeTime" value="<?=$sets['lifeTime']?>"></td>
<td style="font-size:12px;color:#666">默认缓存时间，秒</td>
</tr>

<tr id="row_dataBase">
<td>dataBase<input type="hidden" name="name_database" value="database"></td>
<td><input dojoType="dijit.form.ValidationTextBox" required="true" type="text" name="valu_database" id="valu_database" value="<?=$sets['database']?>"></td>
<td style="font-size:12px;color:#666">数据库名称，sessionHandle=database时有效</td>
</tr>

<tr id="row_memcached">
<td>memcached<input type="hidden" name="name_memcached" value="memcached"></td>
<td>
<textarea name="valu_memcached" id="valu_memcached"  dojoType="dijit.form.Textarea"
style="width:210px;height:200px;" required="true"><?=$sets['memcached']?></textarea>
</td>
<td style="font-size:12px;color:#666">Memcached服务器，sessionHandle=memcache时有效</td>
</tr>

</tbody>
<tfoot>
<tr>
     <td colspan="2" align="center">
       <button dojoType="dijit.form.Button" type="submit">保存</button>
       <button dojoType="dijit.form.Button" type="reset">重置</button>
       </td>
   </tr>
 </tfoot>
</table>
</div>

</body>
</html>