 <? include APP_DIR_V."/index2.0/include/head.html";?>  
    <link href="<?=$image_site_url?>/css/user_manage.css" type="text/css" rel="stylesheet" />
    </head>     
    <body style="background-color:#f0eee1;">
    <div class="right_f" style="boder:0; margin:0; width:688px;">
	  <div class="con">  
		<div class="pro_class">
          <div class="class_p">
             <a href="/index.php/charge/alipay" class="gray6_12 noneline">充值中心</a>
             <a href="/index.php/charge/history" class="yellowf3_12b none">充值记录</a>
             <a href="/index.php/charge/consume" class="gray6_12 noneline">消费记录</a>
          </div>
         </div>  
         <div class="con_div">          
	      <div class="date_bg">
	       <form method="GET" action="/index.php/charge/history" name='form2'>
        	<table width="440" border="0" cellspacing="0" cellpadding="0">
              <tr>
                <td width="108" align="right"><span class="gray4_12">按月份显示</span></td>
                <td width="65" align="center"><label>
                  <select name="year" id="year" class="gray9_12">
                    <option value="2020" <?php if($search['year']=="2020") echo "selected";?>>2020</option>
                    <option value="2019" <?php if($search['year']=="2019") echo "selected";?>>2019</option>
                    <option value="2018" <?php if($search['year']=="2018") echo "selected";?>>2018</option>
                    <option value="2017" <?php if($search['year']=="2017") echo "selected";?>>2017</option>
                    <option value="2016" <?php if($search['year']=="2016") echo "selected";?>>2016</option>
                    <option value="2015" <?php if($search['year']=="2015") echo "selected";?>>2015</option>
                    <option value="2014" <?php if($search['year']=="2014") echo "selected";?>>2014</option>
                    <option value="2013" <?php if($search['year']=="2013") echo "selected";?>>2013</option>
                    <option value="2012" <?php if($search['year']=="2012") echo "selected";?>>2012</option>
                    <option value="2011" <?php if($search['year']=="2011") echo "selected";?>>2011</option>
                    <option value="2010" <?php if($search['year']=="2010") echo "selected";?>>2010</option>  
                    <option value="2009" <?php if($search['year']=="2009") echo "selected";?>>2009</option>
                    <option value="2008" <?php if($search['year']=="2008") echo "selected";?>>2008</option>
                   </select>
                </label></td>
                <td width="19" align="center"><span class="gray4_12">年</span></td>
                <td width="43" align="center">
                 <select name="month" id="month" class="gray9_12">
                  <option value="">所有</option>
                  <option value="12" <?php if($search['month']=="12") echo "selected";?>>12</option>
                  <option value="11" <?php if($search['month']=="11") echo "selected";?>>11</option>
                  <option value="10" <?php if($search['month']=="10") echo "selected";?>>10</option>
                  <option value="09" <?php if($search['month']=="09") echo "selected";?>>09</option>
                  <option value="08" <?php if($search['month']=="08") echo "selected";?>>08</option>
                  <option value="07" <?php if($search['month']=="07") echo "selected";?>>07</option>
                  <option value="06" <?php if($search['month']=="06") echo "selected";?>>06</option>
                  <option value="04" <?php if($search['month']=="05") echo "selected";?>>05</option>
                  <option value="04" <?php if($search['month']=="04") echo "selected";?>>04</option>
                  <option value="03" <?php if($search['month']=="03") echo "selected";?>>03</option>
                  <option value="02" <?php if($search['month']=="02") echo "selected";?>>02</option>
                  <option value="01" <?php if($search['month']=="01") echo "selected";?>>01</option>
                  </select>
                </td>
                <td width="20" align="center"><span class="gray4_12">月</span></td>       
                <td width="90" align="center"><input type="submit" name="submit1" value="" style=" width:48px; height:22px; border:0; background:url(<?=$image_site_url?>/images/user_manage/seach.jpg);"></td>
              </tr>
            </table>
            </form>
        </div>
        <div class="num gray9_12">共 <?=$list_array['total']?> 条</div>
        <div class="con_tab">
        	<table id="mes_list" width="640" border="0" cellspacing="0" cellpadding="0" class="gray4_12">
              <tr>
                <th class="date">日期</th>
                <th class="item_type">交易号</th>
                <th class="item_type">充值金额</th>
                <th class="item_type">支付方式</th>
              </tr>
             <?
			  if(isset($list_array['record']) && $list_array['record']){
			   foreach($list_array['record'] as $key=>$list){		
			   ?>
               <tr>
                <td class="date"><?=$list['chg_time']?></td>
                <td class="item_type"><?=$list['chg_no']?></td>
                <td class="item_type"><?=$list['chg_rmb']?></td>
                <td class="item_type"><?=$list['chg_type']?></td>
               </tr>
              	<?}
			    }else {
			    ?>	
                <tr><td colspan="5" align="center">您目前还没有充值记录！</td> </tr>   
               <?}?>   
              </table>
             <!--分页   B-->
              <?
if(isset($list_array['page']->total) && ($list_array['page']->total > $list_array['page']->onepage))
{
?>
<form method="GET" action="/index.php" name='form1'>
<input type='hidden' name="action" value="charge" />
<input type='hidden' name="view" value="history" />
 <div class="page">
 <div class="pre_page"><?=$list_array['page_array']['prePage']?></div>
 <div class="list_page">
 <?=$list_array['page_array']['numBar'];?>
 </div>
 <div class="next_page"><?=$list_array['page_array']['nextPage']?></div>
 </div>
 </form>
 <?}?>
             <!--分页   E-->
        </div> 
        
     </div>   
  </div>
</div>
</body>
</html>