<? include APP_DIR_V."/index2.0/include/head.html";?>
<link href="<?=$image_site_url?>/css/user_manage.css" type="text/css" rel="stylesheet" />
<script>
function AlertAnswer()
{

     AlertShow(350,"<strong>请你在新打开的页面上完成充值!</strong><br><br><font color='#999999'>充值完成前请不要关闭此窗口<br>___________________________________<br>完成充值后，请根据您的情况点击下面按钮</font>",{
					  'ok':{til:'已完成充值',
							   fuc:function (){
									if($('channel'))$('channel').style.display='block';
									AlertHidden();
	                                Post_charge();
								}
							},
					   'no':{til:'充值遇到问题',
					   	      fuc:function (){
									if($('channel'))$('channel').style.display='block';
									AlertHidden();
									location.href="<?=$GLOBALS ['gSiteInfo'] ['bbs_site_url']?>/index.php?gid=4";
							  }
					   }
				  });
				 
}
</script>
<body onLoad="javascript:div_display();">
<? include(APP_DIR_V.'/index2.0/include/menu.html'); ?>
<div class="main">
<!--player   BB-->
<div class="player">
  <div class="pla_cbg_over">
 	 <div class="fla_titbg">
	      <div class="user_name white_13b">
		  	<?if ( $user_vip ){?>
		  	<img src="<?=$image_site_url?>/images/component/player/vip_ico.gif">
			<?}?><?=$user_nickname?>
		  </div>     
	  </div>
  	<div class="flash_ok"><img src="<?=$userInfo['user_pic']?>" onerror="this.src='<?=$image_site_url?>/images/def_<?=$user_gender?>.jpg'" width="283" height="383"/></div>
    <div class="fla_save">
		<ul class="gg_ul gray6_12"><li>果果：<?=$userInfo['user_coin']?></li><li>G币 ：<?=$userInfo['user_cash']?></li></ul>
		<a href="<?=$www_site_url?>/index.php/user/defaults/<?=$user_name?>" target="_blank"><img src="<?=$image_site_url?>/images/component/player/grzy_btn.jpg" /></a>
	</div>
  </div>
</div>
<!--player   EE-->
<div class="right_f">
<iframe src="<?=$location?>" id="diyifr" name="diyifr" frameBorder="0" scrolling="no" width="688" style="height:675px;"></iframe>
</div>
</div>
<? include(APP_DIR_V.'/index2.0/include/foot.html'); ?>
</body>
</html>