<? include APP_DIR_V."/index2.0/include/head.html";?>
<style type="text/css">
.fltr_hv{color:#FFF100;}
	/*新手指南 tab*/
.newuser{height:20px;padding-top:10px;}
.newuser span{margin-right:17px;padding-left:12px;font-weight:bold;cursor:pointer;color:#FFFFFF;}
.fltr_ho1{background:url(<?=$image_site_url?>/images/help/help_newuser_05.jpg) no-repeat left center;color:#FFF100;}
.fltr_ho{color:#FFF100;background:url(<?=$image_site_url?>/images/help/help_newuser_03.jpg) no-repeat left center;}
.newuser .sy{background:url(<?=$image_site_url?>/images/help/help_newuser_03.jpg) no-repeat left center;color:#FFF100;font-weight:bold;cursor:pointer;}
.newuser .gr{background:url(<?=$image_site_url?>/images/help/help_newuser_05.jpg) no-repeat left center;color:#FFFFFF;font-weight:bold;cursor:pointer;}
.newuser .fltr1{float:left; color:#FFFFFF;font-weight:bold;font-size:13px;}
#zytil{margin-left:20px; margin-top:10px; display:none;}
#zy{margin-left:auto;margin-right:auto;height:642px;background:url(<?=$image_site_url?>/images/help/index2.jpg) no-repeat center center;width:476px;}
#grymtil{margin-left:20px; margin-top:10px; display:none;}
#grym{background:url(<?=$image_site_url?>/images/help/grgl.jpg) no-repeat center top;width:516px; height:646px; margin-top:10px;display:none;margin-left:auto;margin-right:auto;}
#rwbjtil{margin-left:20px; margin-top:10px; display:none;}
#rwbj{background:url(<?=$image_site_url?>/images/help/rwbj2.jpg) no-repeat center top;width:476px; height:646px; margin-top:10px;display:none;margin-left:auto;margin-right:auto;}

#xgbjtil{margin-left:20px; margin-top:10px; display:none;}
#xgbj{background:url(<?=$image_site_url?>/images/help/xgbj.jpg) no-repeat center top;width:516px; height:646px; margin-top:10px;display:none;margin-left:auto;margin-right:auto;}
#frkjtil{margin-left:20px; margin-top:10px; display:none;}
#frkj{background:url(<?=$image_site_url?>/images/help/qrkj.jpg) no-repeat center top;width:516px; height:646px; margin-top:10px;display:none;margin-left:auto;margin-right:auto;}
.ts_con{color:#EB6100;width:600px;margin-left:137px;padding-top:25px;}

.about .ctn_nxt{float:left;margin-left:35px;margin-top:25px;}
.about .content .ctn{ width:749px;background:url(<?=$image_site_url?>/images/About/About_17.gif) repeat-y;}
.about .content .ctn p{margin-bottom:15px;line-height:170%;}
.about .tab{margin-left:10px;}
.about .tab .gy{float:left;}
.about .content .jt_ctn{margin-left:35px;margin-right:35px;margin-top:20px;padding-bottom:10px;}
.tag_pli{ height:27px; float:left; margin:0; padding:0;}
.tag_pli a{ display:block; width:99px; height:27px; float:left; margin:0; text-decoration:none;}
.tag_pli a:hover{ display:block; text-decoration:none;}
.tag_pli a.server{ background:url(<?=$image_site_url?>/images/component/min_component/tag_jinjie_bg.png) 0 -56px no-repeat;}
.tag_pli a.server:hover,
.tag_pli a.server_hover{background:url(<?=$image_site_url?>/images/component/min_component/tag_jinjie_bg.png) 0 -84px no-repeat;}
.tag_pli a.new_zn{ background:url(<?=$image_site_url?>/images/component/min_component/tag_jinjie_bg.png) -100px -56px no-repeat;}
.tag_pli a.new_zn:hover,
.tag_pli a.new_zn_hover{background:url(<?=$image_site_url?>/images/component/min_component/tag_jinjie_bg.png) -100px -84px no-repeat;}
</style>

</head>
<body>
<? include(APP_DIR_V.'/index2.0/include/menu.html'); ?>

<div class="main">
	<div class="user_subnav">
    	<div class="user_lujin gray6_12">
        <a href="/index.php" class="gray6_12 noneline">首页</a><span>&gt;</span>
        <a href="/index.php/help/newuser" class="gray6_12 noneline">新手指南</a>
    	</div>
    </div>
    <div class="clr"></div>
    <div class="help">
	<!--index left B-->
 	   <div class="left_2">
   	 <!--reg and login B-->
    	<div class="in_login">
            <? include(APP_DIR_V.'/index2.0/include/login.html'); ?>
        </div>
        <div class="clr"></div>
          <!--活动公告 B-->
          <div class="hdgg">
            <? include(APP_DIR_V.'/index2.0/include/gonggao.html'); ?>
          </div>
         <!--活动公告 E-->
    </div>
    <!--index right B-->
 	<div class="right_2">
<div style="*margin-bottom:10px;">
<div class="about">
    <div class="tab">
        <div class="tag_pli">
        <a href="/index.php/help/kfzx" class="server"></a>
        <a href="/index.php/help/newuser" class="new_zn_hover"></a>
        </div>
    <div class="clr"></div>
    </div>
    <div class="content" style="background:#ABD449;border:#ABD449 solid 1px;">
        <div>
            <div style="margin-left:125px;" class="newuser">
            	<span id="tab_zy" class="fltr1 fltr_ho"><a class="white_12 none" href="<?=$image_site_url?>/help/help_index/help_index.htm" target="help_iframe" onClick="$('help_iframe').style.height='1000px'">首页</a></span>
                <span id="tab_grym" class="fltr1 fltr_ho"><a class="white_12 none" href="<?=$image_site_url?>/help/3Dxiu/3Dxiu.htm" target="help_iframe" onClick="$('help_iframe').style.height='600px'">3D形象</a></span>
                <span id="tab_rwbj" class="fltr1 fltr_ho"><a class="white_12 none" href="<?=$image_site_url?>/help/qianru/qianru.htm" target="help_iframe" onClick="$('help_iframe').style.height='500px'">嵌入空间</a></span>
                <span id="tab_xgbj" class="fltr1 fltr_ho"><a class="white_12 none" href="<?=$image_site_url?>/help/user_index/user_index.htm" target="help_iframe" onClick="$('help_iframe').style.height='500px'">我的果动</a></span>
                
                <div class="clr"></div>
            </div>
        </div>
	        <div>
    <div><img src="<?=$image_site_url?>/images/About/About_10.gif" /></div>
    <div class="ctn" id="con_tab_1">
    <div class="ts_con">
    <span style="font-weight:bold;color:#EB6100;">小提示：</span>鼠标移到下图想要了解的板块，右侧出现相应介绍哦！
    </div>

	<div style="width:610px; margin:10px auto auto auto;">
    	<iframe width="610" style="height:1000px;" scrolling="no" frameborder="0" name="help_iframe" id="help_iframe" src="<?=$image_site_url?>/help/help_index/help_index.htm"></iframe>
    </div>

	</div>
  <div><img src="<?=$image_site_url?>/images/About/About_19.gif" /></div>
  </div>
  <div class="clr"></div>
	</div>
</div>
<div class="clr"></div>
</div>
     <!--index right E-->
</div>
	<div style="clear:both;"></div>
    </div>
</div>
<? include(APP_DIR_V.'/index2.0/include/foot.html'); ?>
</body>
</html>
