<? include APP_DIR_V."/index2.0/include/head.html";?>

<style type="text/css">
.new2s ul{margin-top:15px;}
.new2s li{margin:7px;padding-bottom:4px;}
.new2s a{text-decoration:underline;}
.new2s .Annount{margin:5px;margin-top:15px;}
.new2s .Annount .date{float:left;}
.new2s .Annount .msg{float:left;width:98px;margin-left:5px;color:#2165A6;}
.new2s .Annount .msg a{color:#2165A6;}
.new2s .anut_left{width:192px;float:left;margin-right:8px;background:#E1E3DA;padding:4px;*padding-top:8px;}
.new2s .anut_left .anut_left_top{height:34px;background:url(<?=$image_site_url?>/images/new2s/new2s_03.gif) no-repeat 0 0;margin:4px;-margin:4px;}
.new2s .anut_bot{background:url(<?=$image_site_url?>/images/new2s/new2s_17.gif) repeat-y 0 0;width:184px;height:170px;padding:3px;-padding:0px;}
.new2s .Annount li{border-bottom:solid 1px #E5E5E5;width:158px;}
.new2s .hdgg{ float:left; width:199px;}
.new2s .hotactivity{ width:199px; height:56px; background:#999999; margin-top:10px; margin-bottom:-5px;}
.new2s .anut_rit{width:750px;float:left;background:#FFFFFF;border:solid 1px #C7C9C2;position:relative; margin-left:15px; _margin-left:0px;}
.new2s .anut_rit_tb{background:url(<?=$image_site_url?>/images/new2s/new2s_tb_03.gif) no-repeat 0 0;width:734px;margin:10px auto;height:30px;position:relative;}
.new2s .tit{font-size:1.4em;font-weight:bold;}
.new2s .bnt{position:absolute;top:8px;left:15px;}
.new2s .bnt1{position:absolute;top:8px;right:15px;}
.new2s .page_let{float:left;}
.new2s .page_rit{float:right;margin-right:20px;}

.new2s .Conte{width:640px;color:#666666;margin-left:auto;margin-right:auto;margin-top:15px;text-align:left;}
.new2s .page_lets{float:left;margin-top:10px;cursor:pointer;margin-left:20px;color:#666666;}
.new2s .page_lets a{color:#666666;text-decoration:none;}
.new2s .page_lets a:hover{text-decoration:underline;}
.new2s .page_letm{float:left;margin-left:10px;cursor:pointer;margin-right:50px;}
.new2s .page_ritm{float:left;cursor:pointer;}
.new2s .page_ritx{float:left;margin-top:10px;margin-left:10px;cursor:pointer;color:#666666;}
.new2s .page_ritx a{color:#666666;text-decoration:none;}
.new2s .page_ritx a:hover{text-decoration:underline;}
.new2s .tle{text-align:left;margin-left:55px;margin-top:8px;*margin-top:8px;color:#666666;}
</style>
</head>
<body>
<? include(APP_DIR_V.'/index2.0/include/menu.html'); ?>

<div class="main ">
	<div class="user_subnav">
    	<div class="user_lujin gray6_12">
        <a href="/index.php" class="gray6_12 noneline">首页</a><span>&gt;</span>
        <a href="/index.php/help/hdgg" class="gray6_12 noneline">活动公告</a><span></span>
    	</div>
    </div>
    <div class="clr"></div>

    <div class="new2s">
      <div class="hdgg">
             <? include(APP_DIR_V.'/index2.0/include/gonggao.html'); ?>
             <div class="clr"></div>
            <?foreach($img_array as $key=>$list){?>
		  <div class="hotactivity">
		    <a href="/index.php/help/hdggContent/id/<?=$list['id']?>"><img src="<?=$list['img_url']?>"  width="199" height="56"></a>
		  </div>
		  <?}?>

      </div>

<div class="anut_rit">
<div  class="anut_rit_tb">
<span class="bnt"><img src="<?=$image_site_url?>/images/new2s/new2s_09.gif" /></span>
<a href="/index.php/help/hdgg" class="bnt1"><img src="<?=$image_site_url?>/images/new2s/new2s_06.gif" /></a></div>

<div style="text-align:center;padding-top:10px;">
<p class="tit"><?=$rs['content']['title']?></p>
<p style="margin-top:10px;color:#666666;"><?=date('Y.m.d',$rs['content']['time'])?></p>
</div>

<div style="width:100%;background:#FFFFFF url(<?=$image_site_url?>/images/new2s/back_03.gif) repeat-x center bottom;text-align:center;">
<?if($rs['content']['img_url']){?>
<div style="margin:0 auto;"><img src="<?=$rs['content']['img_url']?>"></div>
<?}?>
<div class="Conte"><?=$rs['content']['content']?></div>

</div>
<div style="background:url(<?=$image_site_url?>/images/new2s/botm_03.gif) no-repeat center top;height:59px;padding-top:15px;">
<div class="page_let">
<span class="page_lets"><?if ($rs['up']['id']){?><a href="/index.php/help/hdggContent/id/<?=$rs['up']['id']?>">&lt;&lt;  上一篇</a><?}?></span>		<span class="page_letm"><?if($rs['up']['img_url']){?><a href="index.php/help/hdggContent/id/<?=$rs['up']['id']?>"><img src="<?=$rs['up']['img_url']?>" /><?}?></a></span>
<span class="clr"></span>
</div>

<div class="page_rit">
<span><?if($rs['down']['img_url']){?><a href="/index.php/help/hdggContent/id/<?=$rs['down']['id']?>"><img src="<?=$rs['down']['img_url']?>"  class="page_ritm"/></a><?}?></span>		<span class="page_ritx"><?if ($rs['down']['id']){?><a href="/index.php/help/view/hdggContent/id/<?=$rs['down']['id']?>">下一篇  &gt;&gt;</a><?}?></span>
<span class="clr"></span>
</div><div class="clr"></div>
</div>
</div>
</div>
<div class="clr"></div>
</div>
</div>
<? include(APP_DIR_V.'/index2.0/include/foot.html'); ?>
</body>
</html>
