<? include APP_DIR_V."/index2.0/include/head.html";?>

<style type="text/css"> 
 
	.right_2 .in_over{ width:751px;}
	.right_2 .in_over .in_over_top{ width:751px; height:13px; overflow:hidden; background:url(http://image.guodong.com/v1.3/images/index/in_over_topbg.jpg) center center no-repeat; clear:both;}
	.right_2 .in_over .in_over_but{width:751px; height:9px; overflow:hidden; background:url(http://image.guodong.com/v1.3/images/index/in_over_butbg.jpg) center center no-repeat; clear:both;}
	.right_2 .in_over .in_over_mid{width:751px; margin:0;  background:url(http://image.guodong.com/v1.3/images/index/in_over_mbg.jpg) center center repeat-y; clear:both;}
	.right_2 .in_over .in_over_mid .over_tag{width:646px; height:20px; line-height:20px; margin:0px auto; padding-top:20px; padding-bottom:10px;}
	.right_2 .in_over .in_over_mid .over_tag a{ display:inline-block; width:60px; float:left; margin-left:10px;}
 
	.right_2 .in_over .in_over_mid .pic{ width:646px; height:438px; margin:0px auto; padding-top:10px; padding-bottom:35px; clear:both;}
 
</style>
<script type="text/javascript"> 
function over_tag(cur,num)
{
	for(i=1;i<=num;i++)
	{
		var tags = $("tag_"+i);
		var con = $("tag_c"+i);
		tags.className=i==cur?"gray_green_12 none gray_green_12_hover":"gray_green_12 none";
		con.style.display=i==cur?"block":"none";
	}
}
//hover变换
function in_overtag()
{
	var href_str = location.href; 
	var href_arr = href_str.split("#",2); 
	var id = href_arr[1];
	over_tag(id,7);  
}
setTimeout("in_overtag()",200);

</script>
</head>
<body  >


<? include(APP_DIR_V.'/index2.0/include/menu.html'); ?>
<div class="main">
	<div class="user_subnav">
    	<div class="user_lujin gray6_12">
        <a href="/" class="gray6_12 noneline">首页</a><span>&gt;</span>
        <a href="#" class="gray6_12 noneline">嵌入空间效果展示</a>
    	</div>
    </div>

    <div class="clr"></div>

    <div class="left_2">
   	 <!--reg and login B-->
    	<div class="in_login">
            <? include(APP_DIR_V.'/index2.0/include/login.html'); ?>
        </div>
        <div class="clr"></div>
          <!--活动公告 B-->
          <div class="hdgg">
            <? include(APP_DIR_V.'/index2.0/include/gonggao.html'); ?>
          </div>
         <!--活动公告 E-->
    </div>
    <div class="right_2">
    	<div class="in_over">
        	<div class="in_over_top"></div>
       	  	<div class="in_over_mid">
   	    	  <div class="over_tag" id="over_tag">
              	<a href="javascript:void(null);" id="tag_1" onClick="over_tag(1,7)" class="gray_green_12 none gray_green_12_hover">新浪博客</a>
                <a href="javascript:void(null);" id="tag_2" onClick="over_tag(2,7)" class="gray_green_12 none">Q&nbsp;Q&nbsp;空间</a>
                <a href="javascript:void(null);" id="tag_3" onClick="over_tag(3,7)" class="gray_green_12 none">网易博客</a>
                <a href="javascript:void(null);" id="tag_4" onClick="over_tag(4,7)" class="gray_green_12 none">博客大巴</a>
                <a href="javascript:void(null);" id="tag_5" onClick="over_tag(5,7)" class="gray_green_12 none">POCO空间</a>
                <a href="javascript:void(null);" id="tag_6" onClick="over_tag(6,7)" class="gray_green_12 none">51空间</a>
                <a href="javascript:void(null);" id="tag_7" onClick="over_tag(7,7)" class="gray_green_12 none">19楼博客</a>
              </div>

   	      	  <div id="tag_c1" style="display:block;" class="pic"><img src="<?=$image_site_url?>/images/index/in_over_sina.jpg"></div>
              <div id="tag_c2" style="display:none;" class="pic"><img src="<?=$image_site_url?>/images/index/in_over_qq.jpg"></div>
   	      	  <div id="tag_c3" style="display:none;"  class="pic"><img src="<?=$image_site_url?>/images/index/in_over_163.jpg"></div>
              <div id="tag_c4" style="display:none;" class="pic"><img src="<?=$image_site_url?>/images/index/in_over_bus.jpg"></div>
   	      	  <div id="tag_c5" style="display:none;" class="pic"><img src="<?=$image_site_url?>/images/index/in_over_poco.jpg"></div>
   	      	  <div id="tag_c6" style="display:none;" class="pic"><img src="<?=$image_site_url?>/images/index/in_over_51s.jpg"></div>
   	      	  <div id="tag_c7" style="display:none;" class="pic"><img src="<?=$image_site_url?>/images/index/in_over_19lou.jpg"></div>

       	  	</div>
   	  	  <div class="in_over_but"><img src="<?=$image_site_url?>/images/index/in_over_butbg.jpg"></div>
    	</div>



  </div>

    <div class="clr"></div>

</div>
<div class="clr"></div>
<? include(APP_DIR_V.'/index2.0/include/foot.html'); ?>
 
</body>
</html>

