<? include APP_DIR_V."/index2.0/include/head.html";?>
<style type="text/css">

	.right_2 .game_3d{ width:745px; background:url(<?=$image_site_url?>/images/index/3dgame_r_bg.jpg) bottom center repeat-x; border:#c7c9c2 solid 1px; background-color:#FFFFFF; margin-bottom:13px;}
	.right_2 .game_3d .tit_pic{ clear:both; height:15px; width:89px; margin:14px auto 15px 19px;}
	.right_2 .game_3d .center{ width:662px; margin:0 auto;}
	.right_2 .game_3d .center .game_pic{ width:300px; height:200px; float:left; margin-right:15px; }
	.right_2 .game_3d .center .game_txt{ width:300px; float:left; margin-left:20px;}
	.right_2 .game_3d .but_pic{ clear:both; height:31px; width:150px; margin:5px 19px 15px auto;}
</style>
</head>
<body>
<? include(APP_DIR_V.'/index2.0/include/menu.html'); ?>
<div class="main">
	<div class="user_subnav">
    	<div class="user_lujin gray6_12">
        <a href="/index.php" class="gray6_12 noneline">首页</a><span>&gt;</span>
        <a href="/index.php/index/gameintro" class="gray6_12 noneline">3D游戏</a>
    	</div>
    </div>

    <div class="clr"></div>

     <div class="left_2">
        <!--reg and login B-->
    	<div class="in_login">

            <? include(APP_DIR_V.'/index2.0/include/login.html'); ?>
        </div>
        <!--reg and login E-->
        <div class="clr"></div>
         <!--活动公告 B-->
          <div class="hdgg">
            	<? include(APP_DIR_V.'/index2.0/include/gonggao.html'); ?>
          </div>

 	</div>

    <div class="right_2">
    
    <div class="game_3d">
   	  <div class="tit_pic"><img src="<?=$image_site_url?>/images/index/3dlt_tit.jpg" /></div>
      <div class="center">
        <div class="game_pic"><a href="<?=$gservices['1']['3']?>" title="3D动感聊天" target="_blank"><img src="<?=$image_site_url?>/images/index/dongganliaotian.jpg" width="318" height="186"/></a></div>
        <div class="game_txt gray6_12">
 <p>海滩、酒吧、海底世界……多个精美的3D场景，邀请您的好友到场景中进行3D动感聊天，从此再也不只是单调的文本和图片，而是实实在在的身体接触。多达20多种的身体语言，双人多人互动动作，如果您喜欢他（她）便可以握手、拥抱、亲吻……如果你讨厌他（她）可以打耳光、拳击……<br /><br /></p>
        <p>动作精彩纷呈，不一样的体验激情启动。</p>
        </div>
      </div>
      <div class="but_pic"><a href="<?=$gservices['1']['3']?>" title="3D动感聊天" target="_blank"><img src="<?=$image_site_url?>/images/index/bgang_game.gif" /></a></div>
    </div>    
    
    <div class="game_3d">
   	  <div class="tit_pic"><img src="<?=$image_site_url?>/images/index/sims_city_tit.jpg" /></div>
      <div class="center">
        <div class="game_pic"><a href="http://apps.facebook.com/simscitygame/" title="Sims City" target="_blank"><img src="<?=$image_site_url?>/images/index/SIMSCITY_da.jpg" width="318" height="186"/></a></div>
        <div class="game_txt gray6_12">
 <p>Sims City是一款3D图形APP游戏。游戏内容是关于如何成为房产开发商。在游戏里，你需要建造自己的大楼，出租给好友并收取租金。通过不断的建造来扩大的自己的地盘，占领好友城市的土地。</p>
        </div>
      </div>
      <div class="but_pic"><a href="http://apps.facebook.com/simscitygame/" title="Sims City" target="_blank"><img src="<?=$image_site_url?>/images/index/bgang_game.gif" /></a></div>
    </div>    

    
    <div class="game_3d">
   	  <div class="tit_pic"><img src="<?=$image_site_url?>/images/index/wulinkezhan_tit.jpg" /></div>
      <div class="center">
        <div class="game_pic"><a title="武林客栈" target="_blank"><img src="<?=$image_site_url?>/images/index/wlkz_da.jpg" width="318" height="186"/></a></div>
        <div class="game_txt gray6_12">
         <p>川流不息的街道上，一家家客栈拔地而起。作为其中一家的管理者，你要雇佣自己的好友作为员工，想尽办法给客人提供满意的服务。在游戏中，你可以使用装扮系统把自己“武装”到牙齿，也可以亲手布置客栈的里里外外。
都说酒香不怕巷子深，随着客人们口耳相传，慕名而来的人将不断增多，你的客栈的规模也将不断增长。
<br /><br />
什么？缺少做菜的食材了？去隔壁好友的客栈转转吧:)

</p>
        </div>
      </div>
      <div class="but_pic"><a title="武林客栈" target="_blank"><img src="<?=$image_site_url?>/images/index/bgang_game1.gif" /></a></div>
    </div>
    
    
    <div class="game_3d">
   	  <div class="tit_pic"><img src="<?=$image_site_url?>/images/index/yunbiaotianxia_tit.jpg" /></div>
      <div class="center">
        <div class="game_pic">
        	<a title="运镖天下" target="_blank"><img src="<?=$image_site_url?>/images/index/ybtx_da.jpg" width="318" height="186"/></a>
        </div>
        <div class="game_txt gray6_12">
         <p>用户扮演一个镖局的管理者，主要游戏目的是通过运镖赚钱来经营和发展自己的镖局。用户在游戏里只能够向加入APP的好友运镖，通过添加或邀请自己的好友的方式来增加自己的运镖路线。每次运镖的路线将随机插入用户好友的镖局作为行进路线中的关卡，运镖过程中需要挑战延途的好友镖局。
</p>
        </div>
      </div>
      <div class="but_pic"><a title="运镖天下 target="_blank""><img src="<?=$image_site_url?>/images/index/bgang_game1.gif" /></a></div>
    </div>
    
    
    
    

</div>


    

</div>

</div>

<? include(APP_DIR_V.'/index2.0/include/foot.html'); ?>
</body>
</html>
