<? include APP_DIR_V."/index2.0/include/head.html";?>
<script language="javascript" type="text/javascript" src="<?=$image_site_url?>/js/control/control.js?v=<?=$version?>"></script>
<script language="javascript" type="text/javascript" src="<?=$image_site_url?>/js/datacom.js?v=<?=$version?>"></script>
<script language="javascript" type="text/javascript" src="<?=$image_site_url?>/js/control/invite.js?v=<?=$version?>"></script>
</head>
<style type="text/css">
 #invitetishi { margin:30px 20px;}
 #invitetishi input{ margin:0px 5px; height:19px; background:url(<?=$image_site_url?>/images/component/min_component/alert_btn_bg.gif) top repeat-x; color:#000; text-align:center; border:#606F13 solid 1px; }
</style>
<body>
<!--弹出层容器 开始 -->
<? include APP_DIR_V."/index2.0/include/alertdiv.html";?>
<!--弹出层容器 结束 -->

<div class="invite">
	<!--邀请标题-->
<div class="tit"><div class="pic_tit"><img src="<?=$image_site_url?>/images/invite/tit_pic_index.jpg" /></div></div>
<div class="inv_main" id="loading" style="display:none;">
 <div style="margin-top:90px;margin-left:170px;">
     <div class="pic_tit"><div class="pic"><img src="<?=$image_site_url?>/images/invite/buy/com_titpic.jpg" /></div></div>
      <div class="com_c" ><div  class="no_m" id="showinfo"></div></div>    
      <div id="invitetishi"><input type="button" class="input" value="好，我知道了" onClick="ask_ok();"></div>
     </div>
  </div>
    <!--邀请主要内容-->
      
  <div class="inv_main" id="loaded">
   	  <div class="gray4_12b">&nbsp;&nbsp;&nbsp;复制此邀请链接地址，用QQ、MSN或其它方式发送给你的朋友；打开这<br />
&nbsp;&nbsp;      个网址就可以加入果动网啦！</div>
    <div class="qq_inv">
      	<table width="103%" border="0" cellspacing="0">
    <tr>
    <td width="100%">
    <div class="input_mail">
      <textarea class="intxt_11" style="width:350px; height:80px; border:0;" name="textfield" id="textfield"><?=$invite_str?>
      </textarea>
    </div>    </td>
  </tr>
  <tr>
    <td>
    <ul style="margin:15px auto auto auto; width:250px;">
            <li style="width:100px; float:left;"><a href="javascript:link_invite();"><img src="<?=$image_site_url?>/images/invite/cp.jpg" alt="复制" width="78" height="24" border=0 /></a>            </li>
            <li style="width:120px; float:left; line-height:25px;">
             <a href="index.php?action=invite&view=index" class="blue_by12 underline">返回查看其他邀请方式</a>             </li>
 			</ul></td>
    </tr>
  </table>
    </div>
   </div>
</div>
</body>
</html>
