<? include APP_DIR_V."/index2.0/include/head.html";?>
<script language="javascript" type="text/javascript" src="<?=$image_site_url?>/js/control/reg.js?v=<?=$version?>"></script>
<style type="text/css">
#regist .fet{float:left;}
#regist .top{width:775px;background:url(<?=$image_site_url?>/images/regist/regist_bck_03.gif) no-repeat 10px 0;height:520px;position:relative;margin:auto;margin-top:10px;padding-top:74px;}
#regist .top .top_sec{width:513px;height:50px;margin-left:175px;}
#regist .top .msg{width:592px;float:right; margin-right:50px; _margin-right:25px;height:267px;margin-top:35px;color:#666666;}
#regist .top .msg .left{text-align:right;width:100px;padding-top:2px;}
#regist .top .msg .center{text-align:left;width:155px;padding-left:10px;}
#regist .top .msg .input{background:#EFEFEF;border:solid 1px #C4C4C4;width:140px;line-height:20px;height:20px;}
#regist .top .msg .input2{background:#EFEFEF;border:solid 1px #C4C4C4;width:50px;line-height:20px;height:20px;}
#regist .top .msg .right{padding-top:5px;}
#regist .User_Sex1{border:0px;}
#regist .cn_div{margin-top:8px;}
#regist .hid{display:none;display:block;}
#regist .hid a{color:#E64A5C;}
#regist .Attention{margin-left:20%;color:#EB6100;padding-top:15px;}
</style>
</head>

<body>
<? include(APP_DIR_V.'/index2.0/include/menu.html'); ?>

<div class="main">
	<div class="user_subnav">
    	<div class="user_lujin gray6_12">
        <a href="/index.php" class="gray6_12 noneline">首页</a><span>&gt;</span>
        <a href="/index.php/passport/reg" class="gray6_12 noneline">注册</a>
    	</div>
    </div>
  <div class="clr"></div>
<div id="regist">
<div class="top">


<div class="top_sec"></div>
<form name="form2" id="form2" action="" method="post" onSubmit="if (getObject('checkbox').checked) { return check(); } else { alert('您必须同意使用协议才能注册'); return false;}">
		  <input type="hidden" name="action" value="passport"/>
	      <input type="hidden" name="op" value="saveuser"/>
	      <input type="hidden" name="sponsor" value="<?=$sponsor?>"/>
		  <input type="hidden" name="forward" value="<?=$forward?>"/>

<div class="msg">
<div class="cn_div">
    <div class="left fet">请输入用户名</div>
    <div class="center fet"><input name="User_Account" value="<?=$User_Account?>" tabindex="1" id="User_Account"  onBlur="encodeParse(this); hideSpan('username_explain',this);checkUserName(true);" onClick="userNameFocus();" maxlength="16" type="text" class="input " />
    </div>
     <div id="username_explain" class="right fet" style="padding-top:3px;"></div>
				  <div style="display:none;border:1px #ccc solid;position:absolute;width:200px;margin-left:260px;+margin-left:280px; background-color: #fff; opacity: .95; filter: alpha(opacity=95); z-index:99" id="recommend_user">
						<div style="color:#666;">此用户名已被注册，推荐的用户名：</div>
							<ul>
							<li>
							<input name="radioname" type="radio" onClick="setRecommendUserName(getObject('user_text_1').innerHTML);" />
							<span id="user_text_1"></span>&nbsp;&nbsp;</li>
							<li>
							  <input name="radioname" type="radio" onClick="setRecommendUserName(getObject('user_text_2').innerHTML);" />
							  <span id="user_text_2"></span>&nbsp;&nbsp;</li>
							<li>
							  <input name="radioname" type="radio" onClick="setRecommendUserName(getObject('user_text_3').innerHTML);" />
							  <span id="user_text_3"></span>&nbsp;&nbsp;</li>
							</ul>
					</div>
					<div class="clr"></div>
</div>
<div class="cn_div">
    <div class="left fet">请选择性别</div>
    <div class="center fet gray6_12">
	           <label><input type="radio" tabindex="2" value="1" <? if($select_sex==1) echo 'checked';?> class="User_Sex1" name="User_Sex" style="border: 0px sodivd rgb(196, 196, 196);"/>男</label>
	           <label><input type="radio" tabindex="3" value="2" <? if($select_sex==2) echo 'checked';?> class="User_Sex1" name="User_Sex" style="border: 0px sodivd rgb(196, 196, 196);"/>女</label></div>

    <div class="right fet" style="padding-top:3px;"></div>
    <div class="clr"></div>
</div>
<div>
<div class="cn_div">
    <div class="left fet">请输入昵称</div>
    <div class="center fet"><input name="User_Nickname" value="<?=$User_Nickname?>" tabindex="4" id="User_Nickname" onBlur="encodeParse(this); hideSpan('usernickname_explain',this);checkNickName(true);" onFocus="userNicknameFocus();" size="13" maxlength="12" type="text" class="input " />

    </div>
	<div id="usernickname_explain" class="right fet" style="padding-top:3px;"></div>
<!--    <div class="right fet"><span class="hid"><img src="<?=$image_site_url?>/images/regist/regist_btn_07.gif" />&nbsp;<a>此昵称已经被使用。</a></span></div>
-->    <div class="clr"></div>
</div>
</div>
<div class="cn_div">
    <div class="left fet">请输入邮箱</div>
    <div class="center fet"><input name="User_Email" value="<?=$User_Email?>" tabindex="5" id="User_Email" size="20" onBlur="encodeParse(this); hideSpan('mail_explain',this);checkMail(true);" onFocus="emailFocus();"  type="text" class="input " maxlength="48">
    </div>
    <div id="mail_explain" class="right fet" style="padding-top:3px;"></div>
    <div class="clr"></div>
</div>
<div class="cn_div">
    <div class="left fet">请输入密码</div>
    <div class="center fet"><span class="gray6_12">
      <input name="User_Password" tabindex="6" id="User_Password" size="13" onpaste="return false;" onBlur="encodeParse(this);hideSpan('pass_explain',this);checkPassword();" onFocus="userPwdFocus('pass_explain');checkPassword();" type="password" class="input ">
    </span></div>
	<div id="pass_explain" class="right fet" style="padding-top:3px;"></div>
    <div class="clr"></div>
</div>
<div class="cn_div">
    <div class="left fet">请再次输入密码</div>
    <div class="center fet"><span class="gray6_12">
      <input name="User_RePassword" tabindex="7" id="User_RePassword" size="13" onpaste="return false;" onBlur="encodeParse(this); hideSpan('pass_confirm_explain',this);checkPasswordConfirm();" onFocus="userPwdFocus('pass_confirm_explain');" type="password" class="input " />
    </span></div>
    <div id="pass_confirm_explain" class="right fet" style="padding-top:3px;"></div>
    <div class="clr"></div>
</div>
<div class="cn_div">
    <div class="left fet">请输入验证码</div>
    <div class="center fet"><span class="gray6_12">
	      <input name="User_Code" tabindex="8" id="User_Code" size="4" maxlength="4" type="text" class="input2"/><img id="User_Code_Img" src="/index.php/identifycode/generate" align="absmiddle" title="换一张" onClick="changeAuthCode();" style="cursor:pointer" >

    </span></div>
    <div id="pass_confirm_explain" class="right fet" style="padding-top:3px;"></div>
    <div class="clr"></div>
</div>
<div class="cn_div" style="margin-top:20px;*margin-top:15px;">
    <div class="left fet"></div>
    <div class="fet" style="padding-left:5px;"><label><input id="checkbox" name="checkbox" value="checkbox" checked="checked" type="checkbox" tabindex="9"/>&nbsp;我已经读过并同意</label><a href="#" style="color:#243E91;" onClick="try {window.showModalDialog('<?=$image_site_url?>/services.htm', '用户条款', 'dialogWidth=530px;dialogHeight=380px');} catch (e) {window.open ('<?=$image_site_url?>/services.htm', '用户条款', 'height=320, width=520, top=150, left=150, toolbar=no, menubar=no, scrollbars=no, resizable=no,location=n o, status=no');} return false;">用户条款</a></div>
    <div class="right fet" style="padding-top:3px;"></div>
    <div class="clr"></div>
</div>



<div class="cn_div" style="margin-top:15px;">
    <div class="left fet"></div>
    <div class="center fet"><input id="subButton" type="image" src="<?=$image_site_url?>/images/regist/zhuce_11.gif" width="122" height="34" tabindex="10"/></div>
    <div class="right fet" style="padding-top:3px;"></div>
    <div class="clr"></div>
</div>
</div>
<div  class="clr"></div>
</form>
</div>
</div>
</div>


<? include(APP_DIR_V.'/index2.0/include/foot.html'); ?>
</body>
</html>
