<? include APP_DIR_V."/index2.0/include/head.html";?>
<style type="text/css">
.Interce{ margin-top:30px;}
.Interce .top{width:750px;margin-left:auto;margin-right:auto;padding-left:18px;height:450px;}
.Interce .txt{border:solid 1px #D0D0D0;height:20px;width:110px;padding-left:5px;padding-top:2px;*padding-top:0px;line-height:21px;color:#DDDDDD;}
.Interce #pwd{margin-top:5px;}
.Interce .head_t{ height:226px;background:url(<?=$image_site_url?>/images/regist/backgrd_09.gif) repeat-x center top;border-left:solid 1px #BFBFBF;border-right:solid 1px #BFBFBF;padding-top:20px;}
.Interce .flet{float:left;}
.Interce .center{float:left;padding-left:15px;margin:20px 50px;background:url(<?=$image_site_url?>/images/regist/Interce_03.gif) repeat-y;height:166px;width:5px;}
.Interce .direct{width:335px;margin-top:10px;margin-left:5px;}
.Interce .try{color:#EB6100;font-weight:bold;float:left;padding-top:10px;}
.Interce .log{background:url(<?=$image_site_url?>/images/regist/Interce_09.gif) no-repeat 0 0;border:0px;height:54px;width:48px;cursor:pointer;}
.Interce .zc_btn{margin-left:10px;border:0px;cursor:pointer;}
.Interce .log_w{float:left;margin-left:10px;*margin-left:5px;}

.Interce .net{margin-top:7px;}
.Interce .tle{padding-left:50px;font-size:13px;}
.Interce .Guide{text-align:center;width:171px;margin-top:10px;border:solid 1px #D0D0D0;height:26px;padding-top:10px;padding-left:6px;}

</style>

<script type="text/javascript">
function check_font(){
	if($('remember').checked ==true)
	{$('remember').checked =false;}
	else
	{$('remember').checked =true;}

}
function changeAuthCode() {
	var num = 	new Date().getTime();
	var rand = Math.round(Math.random() * 10000);
	num = num + rand;
	document.getElementById("User_Code_Img").src = "/index.php/identifycode/generate/" + num;
	// 设置唯一标识
	//document.getElementById("identifier").value = num;

	return false;
}
</script>
</head>

<body>
<? include(APP_DIR_V.'/index2.0/include/menu.html'); ?>
<div class="main">
	<div class="user_subnav">
    	<div class="user_lujin gray6_12">
        <a href="/index.php" class="gray6_12 noneline">首页</a><span>&gt;</span>
        <a href="/index.php/passport/login" class="gray6_12 noneline">登录</a>
    	</div>
    </div>
   <div class="clr"></div>
<div class="Interce">
<div class="top">
<div><img src="<?=$image_site_url?>/images/regist/backgrd_03.gif" /></div>
<div class="head_t">
<div class="tle">
要畅游果动网，享受3D乐趣，请先告诉我你是谁哦！
</div>

<div>
<form method="POST" name="passport_form" id="passport_form" action="index.php" class="FromDialog" onSubmit="return passport_check(this,$('passport_form').serialize());">
	<input type="hidden" name="action" value="passport" />
	<input type="hidden" name="op" value="dologin" />
	<input type="hidden" name="redirect_url" value="<?=$redirect_url?>" />
<div style="float:left;width:235px;">
<div style="padding-left:50px;margin-top:20px;">

<div class="flet">
<input name="passport_user"  tabindex="1"  type="text" class="txt" id="name1" onFocus="javascript:this.value='';this.style.color='#666';" value="用户名" />
<br />
<input name="passport_passwd" tabindex="2" type="password" class="txt" id="pwd" onFocus="javascript:this.value='';this.style.color='#666';" value="密&nbsp;&nbsp;&nbsp;码" />
</div>
<div class="log_w">
<input type="submit" tabindex="5"  class="log" value="" />
</div>

<?php 
 if(isset($_SESSION['pwd_error'])){
 	if( $_SESSION['pwd_error']>3){
?>
<div class="clr"></div>
<div class="net">
<span class="gray6_12">
	      <input name="User_Code" tabindex="3"  onFocus="this.style.color='#666';"  id="User_Code" size="4" maxlength="4" type="text"  style="width:45px" class="txt"/><img id="User_Code_Img" src="/index.php/identifycode/generate" align="absmiddle" title="换一张" onClick="changeAuthCode();" style="cursor:pointer" >

    </span>    
</div>
<?php
  }
}
?>
<div class="clr"></div>
<div class="net">
<input name="remember" tabindex="4" type="checkbox" id="remember" style="" value="1"  />  <span class="gray6_12" onClick="check_font()">下次自动登录</span>

</div>
<div class="Guide">
<span>
<a href="/index.php/passport/forget" class="gray6_12 noneline">忘记密码</a>&nbsp;&nbsp;/&nbsp;&nbsp;<a href="/index.php/help/newuser" class="gray6_12 noneline"> 新手指南</a></span></div>
</div>

</div>
</form>
<div class="center">

</div>
<div class="flet">
<div style="margin-top:20px;">
<img src="<?=$image_site_url?>/images/regist/Interce_06.gif" />

<p class="direct">
加入果动网，3D人物搭配精美服饰和多种炫丽动作，嵌入到空间 博客，让您的空间博客动感十足。
</p>
</div>

<div style="margin-left:100px;margin-top:25px;">
<a href="/index.php/show/frameset" class="try">到3D形象秀试玩</a>
<a href="/index.php/passport/reg" class="zc_btn"><img src="<?=$image_site_url?>/images/regist/Interce_14.gif" /></a></div>

</div>
<div class="clr"></div>
</div>
</div>
<div><img src="<?=$image_site_url?>/images/regist/backgrd_14.gif" /></div>
</div>
</div>
</div>

<? include(APP_DIR_V.'/index2.0/include/foot.html'); ?>
</body>
</html>
