<? include APP_DIR_V."/index2.0/include/head.html";?>

<div class="implant_right" style="border:0;">
	<div class="implant_tit">
        <a href="/index.php/share/index" class="s_1" title="选择你要嵌入的空间"></a>
    </div>
	<div class="im_logo_list">
		<a href="/index.php/share/size/type/qzone"><img src="<?=$image_site_url?>/images/share/qq/logo_0.gif" /></a>
		<a href="/index.php/share/size/type/sina"><img src="<?=$image_site_url?>/images/share/sina/logo_0.gif" /></a>
		<a href="/index.php/share/size/type/w163"><img src="<?=$image_site_url?>/images/share/w163/logo_0.gif" /></a>
		<a href="/index.php/share/size/type/51com"><img src="<?=$image_site_url?>/images/share/51com/logo_0.gif" /></a>
		<a href="/index.php/share/size/type/blogbus"><img src="<?=$image_site_url?>/images/share/blogbus/logo_0.gif" /></a>
		<a href="/index.php/share/size/type/msn"><img src="<?=$image_site_url?>/images/share/msn/logo_0.gif" /></a>
		<a href="/index.php/share/size/type/myspace"><img src="<?=$image_site_url?>/images/share/myspace/logo_0.gif" /></a>
		<a href="/index.php/share/size/type/19lou"><img src="<?=$image_site_url?>/images/share/19lou/logo_0.gif" /></a>
		<a href="/index.php/share/size/type/poco"><img src="<?=$image_site_url?>/images/share/poco/logo_0.gif" /></a>
		<a href="/index.php/share/size/type/bbs"><img src="<?=$image_site_url?>/images/share/bbs/logo_0.gif" /></a>
		<a href="/index.php/share/size/type/currency"><img src="<?=$image_site_url?>/images/share/currency/logo_0.gif" /></a>
		<div class="clr"></div>
	</div>
	<div class="help_a" style=" margin-top:240px;">
		<p class="bianji_p"><a href="javascript:top.window.location.href='/index.php/show/frameset';" class="blue_by12">继续编辑形象</a></p>
	</div>
    	

</div>