<?php include(APP_DIR_V.'/index2.0/include/head.html'); ?>
 
<script language="javascript" type="text/javascript" src="<?=$image_site_url?>/js/control/share.js?v=v1.3.3.0"></script>
<script language="javascript" type="text/javascript" src="<?=$image_site_url?>/js/lib/swfobject.js?v=v1.3.3.0" ></script> 
<script language="javascript" type="text/javascript" src="<?=$image_site_url?>/js/control/AC_RunActiveContent.js" ></script>
<script language="javascript" type="text/javascript" src="<?=$image_site_url?>/js/control/ps.js?v=v1.3.3.0"></script>
<script type="text/javascript"> 
var global_login_user='jiajia';
var golbal_cookie="";
var global_chnage_verifty=0;
var global_items_str="";
var global_windowss_str="";
var golbal_veritfy_cookie="";
var g_hasCustomStyle = 0,g_diySkin = 0,g_StyleID = 0,g_fullMode = 0,g_frameStyle = 0,g_version = 5;
var global_mod_id=0;
var global_cur_time="1245834051";
 
var frmLogin;
var realSubmit;
var isAnon=false;
 
function getParameter(name,cancelBubble)
{
	var r = new RegExp("(\\?|#|&)"+name+"=([^&#]*)(&|#|$)");
	var m = location.href.match(r);
	if ((!m || m=="") && !cancelBubble) m = top.location.href.match(r);
	return (!m?"":m[2]);
}
 
function loginInit()
{
	//document.getElementById("imgVerify").src="index.php?action=identifycode&view=getimage&aid=8000108&sds="+Math.random();
	frmLogin=document.getElementById("loginBoxContainer");
	realSubmit=document.getElementById("_login");
 
	var s=getParameter("para",true);
	var anon=parseInt(getParameter("anon",true),10);
	var msg=getParameter("msg",true);
 
	realSubmit.u1.value="http://imgcache.qq.com/qzone/toolbar/loginsucc.html"+((s=="")?"":("?para="+s));
 
	if(!!msg)
	{
		var _t=document.getElementById("txtOut");
		_t.innerHTML="&nbsp;&nbsp;&nbsp;&nbsp;"+decodeURIComponent(msg);
		_t.style.visibility="visible";
	}
 
	frmLogin.vc.value="";
	frmLogin.username.value = '';
	frmLogin.username.select();
	frmLogin.username.focus();
}
 
function refreshVerifyImage()
{
	document.getElementById("imgVerify").src=(isAnon?"index.php?action=identifycode&view=getimage&aid=8000103&sds=":"index.php?action=identifycode&view=getimage&aid=8000108&sds=")+Math.random();
	with(frmLogin.vc)
	{
		value="";
		focus();
	}
}
 
function prepareSubmit()
{
	if(loginValidate())
	{
		realSubmit.submit();
	}
}
 
function loginValidate()
{
	realSubmit.u.value=frmLogin.username.value;
	realSubmit.p.value=frmLogin.password.value;
	realSubmit.verifycode.value=frmLogin.vc.value;
 
	if(!/(^\d{5,10}$)|(^\w+@\w+((\.\w+)+)$)/.test(realSubmit.u.value))
	{
		if(!/^\w+$/.test(realSubmit.u.value))
		{
			AlertShow(300,'您输入的QQ号码格式不对!',{
			  'ok':{til:'好，我知道了',
					fuc:function (){
							 AlertHidden();
							 $("username").focus();
						}
					}
		  	});
			return false;
		}
		realSubmit.u.value = frmLogin.username.value + "@qzone.qq.com";
	}
	if(realSubmit.p.value=="")
	{
		AlertShow(300,'您还没有输入密码!',{
		  'ok':{til:'好，我知道了',
				fuc:function (){
						AlertHidden();
						$("password").focus();
					}
				}
		});
		return false;
	}
	if(realSubmit.verifycode.value=="")
	{
		AlertShow(300,'您还没有输入验证码!',{
			  'ok':{til:'好，我知道了',
					fuc:function (){
							AlertHidden();
							$("vc").focus();
						}
					}
		});
		return false;
	}
	preprocess(realSubmit);
 
	return true;
}
 
function loading()
{
	var post_data="";
	 if(loginValidate())
	 {
		  AlertShow(300,'<br>正在执行,请耐心等待 ...');
 
		 var url = 'index.php';
		 global_items_str="";
 		 global_windowss_str="";
		 golbal_cookie='zzpanelkey=; zzpaneluin=; jump=4; pvid=587889849; '+golbal_veritfy_cookie;
		 post_data = "u1=http%3A%2F%2Fimgcache.qq.com%2Fqzone%2Ftoolbar%2Floginsucc.html&fp=loginerroralert&h=1&u=" +$('u').value+"&p="+$('p').value+"&verifycode="+$('vc').value+"&aid=8000108&dummy=1";
		 post_data = "u=" +$('u').value+"&p="+$('p').value+"&verifycode="+$('vc').value+"&aid=15000101&u1=http%3A%2F%2Fphp.qzone.qq.com%2Findex.php%3Fmod%3Dportal%26act%3Dlogin&fp=loginerroralert&h=1&ptredirect=1&ptlang=0&from_ui=1&dumy=";
  		 $('testtest').value=post_data;
 
		 document.IdolPlayer2.W2C_ExecuteCurl('http://ptlogin2.qq.com/login', 'http://imgcache.qq.com/qzone/toolbar/loginbox.html', 'POST',post_data, 'cookie', golbal_cookie, 'text',"login");
	 	 return false;
	    //Post_qzone($('_login').serialize());
	 }
}
 
function changesize(value,name)
{
	var size = value.split("*");
	window.location.href = 'index.php?action=share&view=qq&width=' + size[0] + '&height=' + size[1];
} 
 
</script>
</head>
<body  >
<script language="javascript" type="text/javascript"> 
//调用弹出层
function show_invite(_width,_height,_src)
{
	var html = '<iframe id="CtrlPiframe" width="' + _width + '" height="' + _height + '" src="' + _src + '" frameborder="0" scrolling="no"></iframe>';
	AlertShow(_width,html);
	invite_url = _src;
}
function close2(){
	if(asmark==true) {
		window.location.reload();
	}else{
		AlertHidden();
	}
}
</script>
<!--弹出层容器 开始 -->
<div id="AlertBlack" style="display:none;"></div>
<div id="Alert" style="display:none;" class="alt_new">
	<div class="c_box">
		 <div class="buy_com_alt" id="Alertc"></div>
		 <div id="Alert_btn"></div>
	</div>
</div>
<a href="javascript:closeAlert();"><img id="Alertclose" style="display:none;" src="http://image.guodong.dev3/images/invite/close_pic.jpg" /></a>
<!--弹出层容器 结束 -->


        <div class="form_list">
                 <table  border="1" bordercolor="#FFFFFF" class="table_ie6">
		          <tr align="left"><td colspan="3"><div class="tishi_tit2 red_12">将3D形象秀一键嵌入到QZONE。(如果不能嵌入请<a href="#show_teach" class="red_12b underline">查看教程</a>或<a href="index.php?action=help&view=kfzx" target="_blank" class="red_12b underline">联系客服</a>)</div></td></tr>
                  <form id="loginBoxContainer" method="post" >
                  <tr align="left"><td width="17%"><span class="gray9_12">Q&nbsp;Q&nbsp;账&nbsp;号</span><br /></td>
			       <td width="24%">
				    <label>
					<input name="username" type="text" class="inpup_104 intxt_11" tabindex="1" onClick="if(!/^\d*$/.test(this.value))this.value='';" maxlength="30"/>
					<input type="hidden" name="path" id="path" value="qq" />
					<input type="hidden" name="action" value="share"/>
					<input type="hidden" name="op" value="blog"/>
					<input type="hidden" name="blog_path2" id="blog_path2" value="http://qzone.qq.com/" />
				    </label></td>
			       <td width="59%"><img src="http://image.guodong.com/images/in_blog/qianru.gif" alt="一键嵌入" onClick="loading();" style="cursor:pointer" />&nbsp;&nbsp;&nbsp;&nbsp;</td>
		         </tr>
		         <tr align="left"><td><span class="gray9_12">Q&nbsp;Q&nbsp;密&nbsp;码</span><br /></td>
		          <td><input name="password" type="password" class="inpup_104 intxt_11" tabindex="2" maxlength="16" /></td>
			      <td><span class="gray9_12">*我们不会存储你的相关密码<br>
			        信息，请放心使用</span></td></tr>
		         <tr><td align="left"><span class="gray9_12">验&nbsp;&nbsp;证&nbsp;&nbsp;码</span></td>
			      <td height=60 align="left"  valign=top>
	 
			 <script language="javascript" type="text/javascript">
			  	var object = '';
				hasInstall=false;
				TempObj=null;
				try{
					 TempObj =  new ActiveXObject("Front_Wnd.VTFrontWnd.1")
					 hasInstall = true; 
				 }catch(e){	 
			         hasInstall=false;
			     } 
			    if ( TempObj == null ) {
					object += '<object   height=53 title="qq_curl" width=130 id="IdolPlayer2" classid=clsid:BD734030-21EA-4166-8BE1-C28063869915 codebase="<?=$GLOBALS ['gSiteInfo'] ['tool_site_url'] ?>/ForeWnd.dll#version=7,0,19,0" ></object>';
					document.write( object );
				 }else{
				 delete TempObj;
				 var ObjectHtml = '<OBJECT height=53 title="qq_curl" width=130 id="IdolPlayer2" classid=clsid:BD734030-21EA-4166-8BE1-C28063869915  viewastext>';
					 ObjectHtml += '</OBJECT>';
				 	document.write( ObjectHtml );
				 }
			  </script> 
				 
				 </td>
			     <td align="left">&nbsp;&nbsp;&nbsp;&nbsp;<a href="#" onClick="displayVerifty()" class="gray9_12 underline" >换一张</a>
			     <textarea name="testtest" id="testtest" cols="50" rows="20" style="display:none"> </textarea>&nbsp;</td>
			     <td></td>
		        </tr>
		        <tr align="left">
			    <td>&nbsp;</td>
			    <td><input type="text" name="vc" id="verifycode" class="text_input inpup_104 intxt_11" maxlength="4" tabindex="3"  /></td>
			    <td>&nbsp;</td>
		       </tr>
              </form>
		    <form onSubmit="loginValidate()" style="display:none" id="_login" name="_login" method="post" action="http://www.guodong.com/plugins/export/qq.php">
			<input type="hidden" name="action" value="share"/>
			<input type="hidden" name="op" value="blog"/>
			<input type="hidden" name="flash" id="flash" value="http://image.guodong.com/public/flash/widget.swf?user=jiajia" />
			<input type="hidden" name="type" id="type" value="3D形象" />
			<input type="hidden" name="path" id="path" value="qzone" />
			<input type="hidden" name="width" id="width" value="300" />
			<input type="hidden" name="height" id="height" value="430" />
			<input type="hidden" name="wrap_width" id="wrap_width" value="320" />
			<input type="hidden" name="wrap_height" id="wrap_height" value="456" />
 
			<input name="u1" type="hidden" />
			<input name="fp" type="hidden" value="loginerroralert" />
			<input name="h" type="hidden" value="1" />
			<input name="u" type="hidden" />
			<input name="p" type="hidden" />
			<input name="verifycode" type="hidden" />
			<input name="aid" type="hidden" value="8000108" />
			<input name="dummy" type="hidden" value="1" />
	      </form>
		  <script type="text/javascript">
			loginInit();
		  </script>
		  <tr align="left">
			<td colspan="3"><div class="tishi_tit red_12" style="margin-top:10px;">通过代码将3D形象嵌入到QZONE</div></td>
		  </tr>
		  <tr align="left"><td colspan="2"><input type="text" name="avatar_code" class="inpup_170 intxt_11" id="avatar_code" style="width:200px; margin-left:3px;" value="http://image.guodong.com/public/flash/widget.swf?user=jiajia" /></td>
		  <td><img src="http://image.guodong.com/images/in_blog/copy_code.gif" style="cursor:pointer;" alt="复制代码" onClick="copyCode('avatar_code');" />&nbsp;&nbsp;&nbsp;&nbsp;</td>
		  </tr>
		  <tr align="left">
			<td>&nbsp;</td>
			<td>&nbsp;</td>
			<td><a href="http://qzone.qq.com/" target="_blank" class="gray9_12 underline">点此登录QZONE</a></td>
		  </tr>
		  <tr align="left">
			<td colspan="3">&nbsp;</td>
		  </tr>
          <tr align="left">
			<td colspan="3">&nbsp;</td>
          </tr>
	    </table>
      <!--	<div id="jc" style="display:none">-->
       
    </div> 
 <? include(APP_DIR_V.'/index2.0/include/foot.html'); ?>
 </body>
</html>
<script language="javascript" type="text/javascript" > 
	var S2W_OnClientEvent = "<sc" + "ript language=\"JavaScript\" for=\"IdolPlayer2\" EVENT=\"C2W_ExecuteCurlReslut(EventName,flag)\">" + "\n";
	S2W_OnClientEvent += "C2W_ExecuteCurlReslut(EventName,flag);" + "\n";
	S2W_OnClientEvent += "<\/sc" + "ript>";
	document.write(S2W_OnClientEvent);
</script>
 <script language="javascript" type="text/javascript"  src="<?=$image_site_url?>/js/control/curl_qq_key.js" ></script>
<script language="javascript" type="text/javascript" > 
	//自动获取验证码
setTimeout("displayVerifty()",1000*1);
</script>
