<?php include(APP_DIR_V.'/index2.0/include/head.html'); ?>
<script language="javascript" type="text/javascript" src="<?=$image_site_url?>/js/control/share.js?v=v1.3.3.0"></script>
<script language="javascript" type="text/javascript" src="<?=$image_site_url?>/js/control/ps.js?v=v1.3.3.0"></script> 

<script type="text/javascript"> 
var global_login_user='jiajia';
var golbal_cookie="";
var global_chnage_verifty=0;
var global_items_str="";
var global_windowss_str="";
var golbal_veritfy_cookie="";
var g_hasCustomStyle = 0,g_diySkin = 0,g_StyleID = 0,g_fullMode = 0,g_frameStyle = 0,g_version = 5;
var global_mod_id=0;
var global_cur_time="1245834051";
 
var frmLogin;
var realSubmit;
var isAnon=false;
 
function getParameter(name,cancelBubble)
{
	var r = new RegExp("(\\?|#|&)"+name+"=([^&#]*)(&|#|$)");
	var m = location.href.match(r);
	if ((!m || m=="") && !cancelBubble) m = top.location.href.match(r);
	return (!m?"":m[2]);
}
 
function loginInit()
{
	//document.getElementById("imgVerify").src="index.php?action=identifycode&view=getimage&aid=8000108&sds="+Math.random();
	frmLogin=document.getElementById("loginBoxContainer");
	realSubmit=document.getElementById("_login");
 
	var s=getParameter("para",true);
	var anon=parseInt(getParameter("anon",true),10);
	var msg=getParameter("msg",true);
 
	realSubmit.u1.value="http://imgcache.qq.com/qzone/toolbar/loginsucc.html"+((s=="")?"":("?para="+s));
 
	if(!!msg)
	{
		var _t=document.getElementById("txtOut");
		_t.innerHTML="&nbsp;&nbsp;&nbsp;&nbsp;"+decodeURIComponent(msg);
		_t.style.visibility="visible";
	}
 
	frmLogin.vc.value="";
	frmLogin.username.value = '';
	frmLogin.username.select();
	frmLogin.username.focus();
}
 
function refreshVerifyImage()
{
	document.getElementById("imgVerify").src=(isAnon?"index.php?action=identifycode&view=getimage&aid=8000103&sds=":"index.php?action=identifycode&view=getimage&aid=8000108&sds=")+Math.random();
	with(frmLogin.vc)
	{
		value="";
		focus();
	}
}
 
function prepareSubmit()
{
	if(loginValidate())
	{
		realSubmit.submit();
	}
}
 
function loginValidate()
{
	realSubmit.u.value=frmLogin.username.value;
	realSubmit.p.value=frmLogin.password.value;
	realSubmit.verifycode.value=frmLogin.vc.value;
 
	if(!/(^\d{5,10}$)|(^\w+@\w+((\.\w+)+)$)/.test(realSubmit.u.value))
	{
		if(!/^\w+$/.test(realSubmit.u.value))
		{
			hide_verify();
			parent.AlertShow(300,'您输入的QQ号码格式不对!',{
			  'ok':{til:'好，我知道了',
					fuc:function (){
							 parent.AlertHidden();
							 display_verify();
							 $("username").focus();
						}
					}
		  	});
			return false;
		}
		realSubmit.u.value = frmLogin.username.value + "@qzone.qq.com";
	}
	if(realSubmit.p.value=="")
	{
		hide_verify();
		parent.AlertShow(300,'您还没有输入密码!',{
		  'ok':{til:'好，我知道了',
				fuc:function (){
						parent.AlertHidden();
						display_verify();
						$("password").focus();
					}
				}
		});
		return false;
	}
	if(realSubmit.verifycode.value=="")
	{
		hide_verify();
		parent.AlertShow(300,'您还没有输入验证码!',{
			  'ok':{til:'好，我知道了',
					fuc:function (){
							parent.AlertHidden();
							display_verify();
							$("verifycode").focus();
						}
					}
		});
		return false;
	}
	preprocess(realSubmit);
	return true;
}
 
function loading()
{	
	hide_verify();
	if ( TempObj == null ) 
	{
	  alert("请先安装嵌入的Active控件,否则验证码不能显示");
	  return false;
	}
	
	var post_data="";
	if(loginValidate())
	{
		hide_verify();
		parent.AlertShow(300,'<br><img src="'+_IMAGE_SITEURL+'images/share/processing.gif"><br><font style="font-size:12px">正在执行,请耐心等待 ...</font>',{
				  'ok':{til:'取消等待',
						fuc:function (){
								parent.AlertHidden();
								display_verify();
						   }
						}
			  });
 
		var url = 'index.php';
		global_items_str="";
		global_windowss_str="";
		
		golbal_cookie='zzpanelkey=; zzpaneluin=; jump=4; pvid=587889849; '+golbal_veritfy_cookie;
		 
		//post_data = "u1=http%3A%2F%2Fimgcache.qq.com%2Fqzone%2Ftoolbar%2Floginsucc.html&fp=loginerroralert&h=1&u=" +$('u').value+"&p="+$('p').value+"&verifycode="+$('verifycode').value+"&aid=8000108&dummy=1";
		 
		post_data = "u=" +realSubmit.u.value+"&p="+realSubmit.p.value+"&verifycode="+realSubmit.verifycode.value+"&aid=15000101&u1=http%3A%2F%2Fphp.qzone.qq.com%2Findex.php%3Fmod%3Dportal%26act%3Dlogin&fp=loginerroralert&h=1&ptredirect=1&ptlang=0&from_ui=1&dumy=";
	 
		//$('testtest').value = post_data;
		
		document.IdolPlayer2.W2C_ExecuteCurl('http://ptlogin2.qq.com/login', 'http://imgcache.qq.com/qzone/toolbar/loginbox.html', 'POST',post_data, 'cookie', golbal_cookie, 'text',"login");
		return false;
	    //Post_qzone($('_login').serialize());
	 }
}

//隐藏验证码
function hide_verify()
{
	//$('verify').style.display = 'none';
	$("IdolPlayer2").width=1;
	$("IdolPlayer2").height=1;
}

//显示验证码
function display_verify()
{
	
	$('verify').style.display = 'block';
	$("IdolPlayer2").width=130;
	$("IdolPlayer2").height=53;
	
}

</script>
<div id="AlertBlack" style="display:none;"></div>
<div id="Alert" style="display:none;" class="alt_new">
	<div class="c_box">
		 <div class="buy_com_alt" id="Alertc"></div>
		 <div id="Alert_btn"></div>
	</div>
</div>
<a href="javascript:closeAlert();display_verify();"><img id="Alertclose" src="<?=$image_site_url?>/images/blank.gif" style="display:none; width:12px; height:12px; background:url(<?=$image_site_url?>/images/invite/close_pic.png)!important;background:none;filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(src='<?=$image_site_url?>/images/invite/close_pic.png',sizingMethod='image');" /></a>
<div class="implant_right" style="border:0;">
    	<div class="implant_tit3">
			<a href="/index.php/share/index" class="s_1" title="选择你要嵌入的空间"></a>
        	<a href="/index.php/share/size/type/<?=$type?>" class="s_2" title="选取显示位置"></a>
			<a href="/index.php/share/<?=$type?>/type/<?=$type?>" class="s_3" title="嵌入空间"></a>
		</div>
        <div class="clr"></div>
        <div class="im_nav">
        	<a href="/index.php/share/qzone/type/qzone" class="hover">一键嵌入</a>
        	<a href="/index.php/share/copy/type/qzone">复制代码</a>
        </div>
        
        <div class="im_comp">
		
	 	<form id="loginBoxContainer" method="post" >
		<input type="hidden" name="op" value="blog"/>
		<input type="hidden" name="path" id="path" value="qq" />
		<input type="hidden" name="blog_path" id="blog_path" value="http://qzone.qq.com/" />
		<table width="279" border="0" cellspacing="0" cellpadding="0">
<tr>
				<td width="76" height="30" align="right"><span class="gray4_12">QQ账号：</span></td>
				<td width="121" height="30">
				  <div class="input_lbg">
					  <input type="text" name="username" id="username" tabindex="1" onClick="if(!/^\d*$/.test(this.value))this.value='';" maxlength="30" />
				  </div>
				</td>
				<td width="121" rowspan="2" align="left"><span class="gray9_12">我们不会储存或泄露您的密码。请放心填写！</span></td>
      </tr>
			<tr>
				<td width="76" height="30" align="right"><span class="gray4_12">QQ密码：</span></td>
				<td width="121" height="30">
				  <div class="input_lbg">
					  <input name="password" type="password" id="password" tabindex="2" maxlength="16" />
				  </div>
				</td>
      </tr>
			<tr>
				<td width="76" height="30" align="right"><span class="gray4_12">验证码：</span></td>
				<td width="121" height="30">
				  <div class="input_lbg">
					<input type="text" name="vc" id="verifycode" maxlength="4" tabindex="3" />
					<textarea name="testtest" id="testtest" cols="50" rows="20" style="display:none"></textarea>
				  </div>
				</td>
      </tr>
			<tr>
				<td height="45" align="right" valign="top">&nbsp;</td>
				<td height="45" colspan="2" align="left" valign="top">
					<div id="verify">
						<script language="javascript" type="text/javascript">
							var object = '';
							hasInstall=false;
							TempObj=null;
							try
							{
								TempObj =  new ActiveXObject("Front_Wnd.VTFrontWnd.1")
								hasInstall = true; 
							}
							catch(e)
							{	 
								hasInstall=false;
							} 
							if ( TempObj == null ) 
							{
								object += '<object   height=53 title="qq_curl" width=130 id="IdolPlayer2" classid=clsid:BD734030-21EA-4166-8BE1-C28063869915 codebase="<?=$GLOBALS ['gSiteInfo'] ['image_site_url'] ?>/ForeWnd.dll#version=7,0,19,1" ></object>';
								document.write( object );
							}
							else
							{
								TempObj;
								var ObjectHtml = '<OBJECT height=53 title="qq_curl" width=130 id="IdolPlayer2" classid=clsid:BD734030-21EA-4166-8BE1-C28063869915  viewastext>';
								ObjectHtml += '</OBJECT>';
								document.write( ObjectHtml );
							}
						</script>
					</div>
					<a href="javascript:displayVerifty();" class="gray9_12 underline">换一张图片</a>
					<a href="javascript:display_verify();" class="gray9_12 underline">显示验证码</a>
				</td>
			</td></tr>
			
            <tr>
				<td height="47" align="right">&nbsp;</td>
				<td height="47" colspan="2" align="left" valign="middle">
					<img src="<?=$image_site_url?>/images/component/implant/implant_btn.jpg" onClick="loading();" style="cursor:pointer" width="87" height="25" />
				</td>
            </tr>
            <tr>
              <td width="76" height="35" align="right">&nbsp;</td>
              <td height="35" colspan="2" align="left">
			  	<img src="<?=$image_site_url?>/images/component/implant/tishi_img.jpg" />
			  </td>
            </tr>
		</table>
		</form>
		<form onSubmit="loginValidate()" style="display:none" id="_login" name="_login" method="post" action="http://www.guodong.com/plugins/export/qq.php">
			<input type="hidden" name="action" value="share"/>
			<input type="hidden" name="op" value="blog"/>
			<input type="hidden" name="flash" id="flash" value="<?=$flash?>" />
			<input type="hidden" name="type" id="type" value="3D形象" />
			<input type="hidden" name="path" id="path" value="qzone" />
			<input type="hidden" name="width" id="width" value="<?=$size['width']?>" />
			<input type="hidden" name="height" id="height" value="<?=$size['height']?>" />
			<input type="hidden" name="wrap_width" id="wrap_width" value="320" />
			<input type="hidden" name="wrap_height" id="wrap_height" value="456" />
 
			<input id=="u1" name="u1" type="hidden" />
			<input id=="fp" name="fp" type="hidden" value="loginerroralert" />
			<input id=="h" name="h" type="hidden" value="1" />
			<input id=="u"  name="u" type="hidden" />
			<input id=="p"  name="p" type="hidden" />
			<input id=="verifycode" name="verifycode" type="hidden" />
			<input id=="aid"  name="aid" type="hidden" value="8000108" />
			<input id="dummy"  name="dummy" type="hidden" value="1" />
	    </form>
		<script type="text/javascript">

			loginInit();

		</script>	
      	</div>
     <div class="clr"></div>
     <div class="help_a" style=" margin-top:55px;">
         <p class="help_p"><a href="javascript:help_qzone();" class="blue_by12">查看教程</a></p>
         <p class="bianji_p"><a href="javascript:top.window.location.href='/index.php/show/frameset';" class="blue_by12">继续编辑形象</a></p>
     </div>   
  </div>

<script language="javascript" type="text/javascript" > 
	var S2W_OnClientEvent = "<sc" + "ript language=\"JavaScript\" for=\"IdolPlayer2\" EVENT=\"C2W_ExecuteCurlReslut(EventName,flag)\">" + "\n";
	S2W_OnClientEvent += "C2W_ExecuteCurlReslut(EventName,flag);" + "\n";
	S2W_OnClientEvent += "<\/sc" + "ript>";
	document.write(S2W_OnClientEvent);	 
</script>
<script language="javascript" type="text/javascript"  src="<?=$image_site_url?>/js/control/curl_qq_key.js" ></script>
<script language="javascript" type="text/javascript" > 
	//自动获取验证码
setTimeout("displayVerifty()",1000*1);
</script>