<?include_once(APP_DIR_V.'/index2.0/include/head.html')?>
<link href="<?=$image_site_url?>/css/user_manage.css?v=<?=$version?>" rel="stylesheet" type="text/css" />
</head>
<body>
<!--header   BB-->
<? include(APP_DIR_V.'/index2.0/include/menu.html'); ?>
<!--header   EE-->
<div class="main">
<!--player   BB-->
<div class="player">
  <div class="pla_cbg">
 	 <div class="fla_titbg">
	      <div class="user_name white_13b">
		  	<?if ( $userVip ){?>
		  	<img src="<?=$image_site_url?>/images/component/player/vip_ico.gif">
			<?}?><?=$userNickname?>
		  </div> 
		  <? if ( $user != $user_name ){?> 
          <div class="user_fav">
		  	<a href="javascript:Post_addfriends('<?=$user?>');" title="收藏好友">
				<img src="<?=$image_site_url?>/images/component/player/user_fav.jpg">
			</a>
		  </div>
		  <?}?>            
	  </div>
  	<div class="flash">
		<object classid="clsid:D27CDB6E-AE6D-11cf-96B8-444553540000" width="100%" height="100%" id="guodongdev">
			<param name="movie" value="<?=$image_site_url?>/flash/guodongWidgest.swf?userId=<?=$user?>" />
			<param name="quality" value="high" />
			<param name="bgcolor" value="#869ca7" />
			<param name="allowScriptAccess" value="always" />
			<param name="allowFullScreen" value="true" />
			<param name="wmode" value="transparent">
			<embed width="100%" height="100%" pluginspage="http://www.macromedia.com/shockwave/download/index.cgi?P1_Prod_Version=ShockwaveFlash" type="application/x-shockwave-flash" allowScriptAccess="always" swliveconnect="TRUE" id="guodongdev" name="guodongdev" wmode="transparent" quality="high" bgcolor="#869ca7" src="<?=$image_site_url?>/flash/guodongWidgest.swf?userId=<?=$user?>"/>
		</object>
	</div>
    <div class="fla_save">
	</div>
  </div>
</div>
<!--player   EE-->
<div class="right_f">
	<div class="user_blog">
          <!--  个人日志-->
          <div class="user_bg">
            <div class="user_dlary">
            	<div class="clr"></div>
              <div class="dlary_tit"><a href="<?=$userRssUrl?>" target="_blank"></a></div>
             <!-- 没有日志 时显示-->
            <!-- 日志-->
              <ul>
			  
				<? 
				if ( !empty( $userRssUrl ) )
				{
					foreach ( $rssItem as $v)
					{
				?>
					<li>
                      <span class="date gray5_12"><?=$v['pubDate']?></span>
                      <span class="list_tit"><a href="<?=$v['link']?>" class="green_12 none" target="_blank"><?=$v['title']?></a></span>
                  	</li>

                 <? }}?>
				       
              </ul>
              <div class="clr"></div>
            </div>
            
               <!-- 收藏好友-->
            <div class="user_friend">
            	<div class="fri_tit"><!--<a href="#"></a>--></div>
                 <!-- 没有好友收藏 时显示-->
<!--                  <div class="no_fri"><img src="<?=$image_site_url?>/images/index/no_fri.jpg" /></div>-->
				<!-- 好友收藏-->
                
                <div class="fri_list">
				 
				    <?
					if ( !empty( $userFriend[ 'record' ] ) ) 
					{
						foreach ( $userFriend['record'] as $item => $v )
						{
					?>
					
                	<div class="fri">
                    	<div class="pic"><img src="<?=$v['user_icon']?>" onerror="this.src='<?=$image_site_url?>/images/noavatar46x46.gif'" /></div>
                        <div class="name"><a href="<?=$www_site_url?>/index.php/user/defaults/<?=$v['friend_name']?>" class="blue_by12 underline"><?=$v['friend_nickname']?></a></div>                        
                    </div>
					
					<?}}?>
					           
                </div>
                <div class="clr"></div>
				
           	<!--分页   B-->
			<?
			if(isset($userFriend['page']->total) && ($userFriend['page']->total > $userFriend['page']->onepage))
			{
			?>
			<form method="get" name='form1' action="/index.php">
			<input type='hidden' name="action" value="user" />
			<input type='hidden' name="view" value="defaults" />
			<div class="page">
				<div class="pre_page"><?=$userFriend['page_array']['prePage']?></div>
				<div class="list_page">
					<?=$userFriend['page_array']['numBar'];?>
				</div>
				<div class="next_page"><?=$userFriend['page_array']['nextPage']?></div>
			</div>
			</form>
			<?}?>
			<!--分页   E-->
                
            </div>
           
          </div>
            <div class="clr"></div>
            
    	</div>
    	<div style="margin-top:10px;"><? if(isset($user_ad_bottom_688x112)) include($user_ad_bottom_688x112);?></div>
</div>
</div>
<? include(APP_DIR_V.'/index2.0/include/foot.html'); ?>
</body>
</html>

