<? include APP_DIR_V."/index2.0/include/head.html";?>

</head>
<body>
<? include(APP_DIR_V.'/index2.0/include/menu.html'); ?>
<div class="main">
	<div class="user_subnav">
    	<div class="user_lujin gray6_12">
        <a href="/index.php?action=index" class="gray6_12 noneline">首页</a><span>&gt;</span>
        <a href="/index.php/help/aboutme" class="gray6_12 noneline">关于我们</a>
    	</div>
    </div>
    <div style="clear:both;"></div>
<div class="about">
<div class="tab" style="width:750px;margin-left:115px;">
<div class="tag_pli">
<a href="/index.php?action=help&view=aboutme" class="about about_hover" title="关于我们"></a>
<a href="/index.php?action=help&view=swhz" class="bussing" title="商务合作"></a>
<a href="/index.php?action=help&view=hzhb" class="swhz" title="合作伙伴"></a>
<a href="/index.php?action=help&view=clause" class="sytk" title="使用条款"></a>
</div>
<div class="clr"></div>
</div>

<div class="content" style="width:750px;margin-left:auto;margin-right:auto;">
<div><img src="<?=$image_site_url?>/images/About/About_10.gif" /></div>
<div class="ctn">
<div class="ctn_nxt" style="-margin-left:17px;"><img src="<?=$image_site_url?>/images/About/about_me.jpg" /></div >
<div class="clr"></div>
<div class="jt_ctn" style="height:auto !important; min-height:450px;height:450px;">
 <?
	 if($exist){
	 	 include_once(APP_TEMP_DIR."/aboutmeblock.html");
	 }
    ?>

</div>

</div>
<div><img src="<?=$image_site_url?>/images/About/About_19.gif" /></div>

</div>

</div>
</div>
<? include(APP_DIR_V.'/index2.0/include/foot.html'); ?>
</body>
</html>
