<? include APP_DIR_V."/index2.0/include/head.html";?>


<style type="text/css">
		/*果冻币价格+果果价格*/
a span.jiage_add_gg2{display:none;height:20px;}
a:hover span.jiage_add_gg2{ height:20px; width:103px; display:block; position:absolute; margin-top:80px; text-decoration:none; background-color:#fff;filter:alpha(opacity=75);opacity:0.75; text-align:center; color:#f39800;}
a span.jiage_add_gg2 b.guoguo{ height:20px; background:url(<?=$image_site_url?>/images/component/r_flist/guoguo.gif) center left no-repeat; padding-left:13px;}
a span.jiage_add_gg2 b.g_bg{ height:20px; background:url(<?=$image_site_url?>/images/component/r_flist/g_ico.gif) center left no-repeat; padding-left:13px;}
a span.jiage_add_gg2 b.add_bg{ width:30px; height:20px; background:url(<?=$image_site_url?>/images/component/r_flist/add.gif) center center no-repeat; padding-left:15px;}

	/*more 图片连接*/
	a.index_more_a{ display:block; width:40px; height:25px; position:relative; margin-top:-27px; margin-left:473px; text-decoration:none; font-size:24px;}
	a.index_more_game{display:block; width:40px; height:25px; position:relative; margin-top:-27px; margin-left:155px; text-decoration:none;font-size:24px;}

	/*推荐搭配*/
	.right_2 .in_r_left .tjdp{ width:540px; border:#c7c9c2 solid 1px; margin-bottom:10px; background:#FFFFFF url(<?=$image_site_url?>/images/index/index_tjdp_bg.jpg) bottom center repeat-x;}
	.right_2 .in_r_left .tjdp .tit{ width:526px; height:30px; margin:9px auto 8px auto;}
	.right_2 .in_r_left .tjdp .tj_fl{ width:300px; height:16px; margin-bottom:6px; margin-left:15px; clear:both;}
	.right_2 .in_r_left .tjdp .tj_fl span{ display:block; float:left;margin-right:10px;}
	.right_2 .in_r_left .tjdp .tj_list{ width:516px; +margin-bottom:10px; margin-left:17px;_margin-left:10px;}
	.right_2 .in_r_left .tjdp .tj_list .list{ width:147px; height:209px; float:left; margin:0 17px 19px 8px;_margin:0 13px 19px 9px; background-color:#e1e3da; border-bottom:#a6a6a6 solid 1px;}
	.right_2 .in_r_left .tjdp .tj_list .list a.list_pic{ display:block; width:137px; height:176px; margin:5px auto; _margin:5px auto 2px auto;}
	.right_2 .in_r_left .tjdp .tj_list .list a.list_pic .new_hot{ position:absolute; margin-top:-5px; margin-left:-5px; width:39px; height:15px;}

	.right_2 .in_r_left .tjdp .tj_list .list a.list_pic span.pic_tis{ display:none;}
	.right_2 .in_r_left .tjdp .tj_list .list a.list_pic:hover span.pic_tis{ display:block; width:137px; height:24px; position:absolute; margin-top:152px; filter:alpha(opacity=70);opacity:0.7; background:url(<?=$image_site_url?>/images/index/bgbg.png) center center no-repeat;   }
	.right_2 .in_r_left .tjdp .tj_list .list .list_tit{width:137px; height:16px; line-height:16px; margin:0px auto; text-align:center; overflow:hidden;}




	/*精品道具推荐*/
	.right_2 .in_r_left .tjdp .dj_list{ width:540px;background:#FFFFFF url(<?=$image_site_url?>/images/index/index_bg_jpdj.jpg) bottom center repeat-x;}
	.right_2 .in_r_left .tjdp .dj_list .list{ width:110px; height:133px; float:left; margin:17px 1px 0 18px;_margin:16px 9px 0 9px;border:#bfbfbf solid 1px; background-color:#FFFFFF;}
	.right_2 .in_r_left .tjdp .dj_list .list .pic{ width:103px; height:103px; padding:2px; overflow:hidden;}
	.right_2 .in_r_left .tjdp .dj_list .list .pic a .new_hot{ position:absolute; margin-top:-3px; margin-left:-3px; width:39px; height:15px;}

	.right_2 .in_r_left .tjdp .dj_list .list .pic span.author{display:none;}
	.right_2 .in_r_left .tjdp .dj_list .list .pic span.author .time{display:block; text-decoration:none;}
	.right_2 .in_r_left .tjdp .dj_list .list .pic span.author .dengji{ display:block; text-decoration:none;}
	.right_2 .in_r_left .tjdp .dj_list .list .pic span.author{ display:none1;text-decoration:none;position:absolute;  width:120px; height:101px; padding:20px 5px 10px 30px; overflow:hidden; margin-left:95px; margin-top:-120px;+margin-left:-14px; +margin-top:-15px;  background:url(../../images/component/r_flist/onmouse_bg.gif) center center no-repeat; color:#00561f; z-index:10;filter:alpha(opacity=75);opacity:0.75;}
	.right_2 .in_r_left .tjdp .dj_list .list .pic span.author .time{ display:block; width:110px; height:15px; line-height:15px;text-decoration:none;}
	.right_2 .in_r_left .tjdp .dj_list .list .pic span.author .dengji{display:block; width:110px; height:15px; line-height:15px; margin-top:5px;text-decoration:none;}
	.right_2 .in_r_left .tjdp .dj_list .list .name{ height:19px; margin:3px auto auto auto;text-align:center; clear:both; overflow:hidden;/*需要修改程序，暂时隐藏css*/}
	.right_2 .in_r_left .tjdp .dj_list .list .vip_p{ text-align:center;height:22px;display:none;}
	.right_2 .in_r_left .tjdp .dj_list .list .vip_p span.vip_bg{ height:18px; background:url(<?=$image_site_url?>/images/component/r_flist/vip.png) center left no-repeat; padding-left:30px;}
	.right_2 .in_r_left .tjdp .dj_list .list .vip_p span.g_bg{ height:12px; background:url(<?=$image_site_url?>/images/component/r_flist/g_ico.gif) center left no-repeat; padding-left:15px;}
	.right_2 .in_r_left .tjdp .dj_list .list .vip_p span.guoguo_bg{ height:12px; background:url(<?=$image_site_url?>/images/component/r_flist/guoguo.gif) center left no-repeat; padding-left:15px;}

	/*首页----论坛部分*/
	.right_2 .in_r_left .in_bbs{ width:540px; height:171px; float:left;border:#c7c9c2 solid 1px; margin-bottom:12px; background:#FFFFFF url(<?=$image_site_url?>/images/index/bbs_inbg.jpg) bottom center repeat-x;}
	.right_2 .in_r_left .in_bbs .tit{ width:526px; height:30px; margin:10px auto;}
	.right_2 .in_r_left .in_bbs .bbs_l{ width:247px; height:110px; float:left; margin:5px 20px auto 20px;_margin:5px 17px auto 12px;}
	.right_2 .in_r_left .in_bbs .bbs_l .pic{ width:241px; height:54px; padding:1px; margin-bottom:7px; border:#ccc solid 1px;}
	.right_2 .in_r_left .in_bbs .bbs_l .pic_txt{ width:235px; height:45px;}
	.right_2 .in_r_left .in_bbs .bbs_l .pic_txt a{  font-size:12px; color:#2165a6;}

	.right_2 .in_r_left .in_bbs ul.bbs_list{ width:240px; height:110px; float:left; margin:0; }
	.right_2 .in_r_left .in_bbs ul.bbs_list li{line-height:20px;width:240px; margin:0px auto;overflow:hidden;text-overflow:ellipsis; white-space:nowrap;}
	.right_2 .in_r_left .in_bbs ul.bbs_list li span{ padding-right:5px;}
	.right_2 .in_r_left .in_bbs ul.bbs_list li a{font-size:12px; color:#2165a6; text-decoration:none;}




	/*果动榜样*/
	.right_2 .in_r_right{ width:220px; _width:210px;float:right;}
	.right_2 .in_r_right .gdby{ width:220px; height:321px; background-color:#e1e3da; margin-bottom:10px; padding-top:6px;}
	.right_2 .in_r_right .gdby .tit{ width:208px; height:36px; margin:0px auto 10px auto; clear:both;}
	.right_2 .in_r_right .gdby .gril{ width:93px; height:260px; float:left; margin:0 0px 0 12px; _margin:0 5px 0 6px;}
	.right_2 .in_r_right .gdby .gril .user_pic{ width:86px; height:115px; padding:1px; border:#d0d0d0 solid 1px; background-color:#FFFFFF;}
	.right_2 .in_r_right .gdby .gril .user_name{ height:28px; line-height:28px; text-align:center; clear:both;overflow:hidden; text-overflow:ellipsis; white-space:nowrap;}
	.right_2 .in_r_right .gdby .gril .user_txt{ max-height:50px; _height:50px; overflow:hidden; margin-bottom:19px;}
	.right_2 .in_r_right .gdby .gril .user_list{ width:90px; margin-top:8px;}
	.right_2 .in_r_right .gdby .gril .user_list li{ height:20px; line-height:20px; margin-top:0px; overflow:hidden;}
	/*右侧  3D游戏*/
	.right_2 .in_r_right .in_3dyx{ width:218px; margin-bottom:10px; margin-top:30px; +margin-top:10px; border:#c7c9c2 solid 1px; background-color:#fff; overflow:hidden;}
	.right_2 .in_r_right .in_3dyx .tit{ width:202px; height:30px; margin:9px auto 10px auto;}
	.right_2 .in_r_right .in_3dyx .yx_div{ width:196px; height:107px; margin:0 auto 9px auto; padding:1px; border:#e1e3da solid 1px;}
	.right_2 .in_r_right .in_3dyx .yx_div .pic_name{ height:60px; background-color:#e1e3da; margin-bottom:5px;}
	.right_2 .in_r_right .in_3dyx .yx_div .pic{ height:60px; width:100px; float:left;}
	.right_2 .in_r_right .in_3dyx .yx_div .name{ height:60px; width:90px; margin:0 auto; float:left;}
	.right_2 .in_r_right .in_3dyx .yx_div .name .name_txt{ height:20px; line-height:20px;  text-align:center;}
	.right_2 .in_r_right .in_3dyx .yx_div .name .display_txt{ width:86px; margin:5px auto 5px 4px; height:20px; background:url(<?=$image_site_url?>/images/index/in_3dyx_w.jpg) center center no-repeat;}
	.right_2 .in_r_right .in_3dyx .yx_div .name .display_txt ul{ width:59px; border:#8fc31f solid 1px; border-top:0; position:absolute; margin-top:20px; margin-left:9px;}
	.right_2 .in_r_right .in_3dyx .yx_div .name .display_txt ul li{ height:22px; overflow:hidden; background-color:#FFFFFF;}

	.right_2 .in_r_right .in_3dyx .yx_div .name .jjtc{ width:67px; height:20px; margin:2px auto;}
	.right_2 .in_r_right .in_3dyx .yx_div .txt_js{ padding:0px 0 0 6px;}
	
	
	.right_2 .in_r_left .ad_pic{ width:542px; height:90px; margin:0 auto; margin-bottom:10px;}
		/*首页右侧*/
	.right_2 .in_r_right .r_ad_pic{ width:220px; height:100px; margin-bottom:10px; clear:both;}
	.right_2 .in_r_right .r_ad_pic2{ width:220px; height:100px; margin-bottom:10px; clear:both;}
	.right_2 .in_r_right .r_ad_pic3{ width:220px; height:100px; margin-bottom:10px; clear:both;}



	/*	首页左侧 客服服务小帮手*/
	.left_2 .in_server{width:200px; height:242px; background:url(<?=$image_site_url?>/images/index/in_server.png) center center no-repeat;}
	.left_2 .in_server ul.ser{ width:200px;}
	.left_2 .in_server ul.ser li{ height:27px;}
	.left_2 .in_server ul.ser li a{ display:block; height:20px; line-height:20px; margin-top:2px;}
	.left_2 .in_server ul.ser li.tit{ height:45px;}
	.left_2 .in_server ul.ser li.qq_ser{ height:58px;}
	.left_2 .in_server ul.ser li a.mail{ width:150px;}
	.left_2 .in_server ul.ser li a.qq{ width:100px; margin-left:20px;}

	.left_2 .in_server ul.ser li.ser_ly{ height:58px;}
	.left_2 .in_server ul.ser li.ser_ly a{ margin-top:35px; width:100px; float:right;}

	#scrl_left,#scrl_right{cursor:pointer;}

	/*

	广告图片切换

*/
	#had{width:770px;height:230px;overflow:hidden; margin-top:22px; }
	.btn{width:12px;height:12px;float:left; z-index:30;cursor:pointer; overflow:hidden; margin-right:10px; background:url(<?=$image_site_url?>/images/index/fla_ico.gif);}
	#had div{width:770px;height:230px;text-align:center; vertical-align:middle;display:none;}
	.op{display:block;}



</style>

</head>
<body>
  <? if(isset($index_ad_topbanner))   include($index_ad_topbanner);?>

<? include(APP_DIR_V.'/index2.0/include/menu.html'); ?>

<div class="main">
	<div class="user_subnav">
        <div class="user_tongji gray7_12">现有<span class="yellow_12" id='total_user'></span>果动用户, 今日加入新用户<span class="green6_12" id="today_user"></span>人</div>
    </div>
     <script language="javascript" src="index.php?action=index&view=getuser"></script>
    <div class="clr"></div>

	<!--index left B-->
    <div class="left_2">

   	 	<!--reg and login B-->
    	<div class="in_login">

            <? include(APP_DIR_V.'/index2.0/include/login.html'); ?>
        </div>
        <!--reg and login E-->

        <!--in3d B-->
         <div class="in3d">
         	<div class="tit"><img src="<?=$image_site_url?>/images/index/in3d_tit.jpg" /></div>
            <div class="in3d_js">
            	<div class="to_right" onMouseDown="javascript:rightd();" id="scrl_right"><img src="<?=$image_site_url?>/images/index/right_pic1.png" /></div>
                <div class="logo_list">
                <div id="to_cnt">
                	<ul style="overflow:hidden;width:900px;height:70px;" id="lol">
                    	<li style="float:left;" class="cou_t" id="cou_t1">
                        <div class="log_pic"><a href="/index.php/help/qianru#2"><img src="<?=$image_site_url?>/images/share/qq/logo_0.gif" /></a></div>
                        <div class="log_pic"><a href="/index.php/help/qianru#1"><img src="<?=$image_site_url?>/images/share/sina/logo_0.gif" /></a></div>
                        <div class="log_pic"><a href="/index.php/help/qianru#3"><img src="<?=$image_site_url?>/images/share/w163/logo_0.gif" /></a></div>
                        <div class="log_pic"><a href="/index.php/help/qianru#6"><img src="<?=$image_site_url?>/images/share/51com/logo_0.gif" /></a></div>
                        <div class="clr"></div>
                        </li>
                        <li style="float:left;" class="cou_t">
                        <div class="log_pic"><a href="/index.php/help/qianru#4"><img src="<?=$image_site_url?>/images/share/blogbus/logo_0.gif" /></a></div>
                        <div class="log_pic"><a href="/index.php/help/qianru#1"><img src="<?=$image_site_url?>/images/share/msn/logo_0.gif" /></a></div>
                        <div class="log_pic"><a href="/index.php/help/qianru#1"><img src="<?=$image_site_url?>/images/share/myspace/logo_0.gif" /></a></div>
                        <div class="log_pic"><a href="/index.php/help/qianru#7"><img src="<?=$image_site_url?>/images/share/19lou/logo_0.gif" /></a></div>
                        <div class="clr"></div>
                        </li>
                        <li style="float:left;" class="cou_t">
                        <div class="log_pic"><a href="/index.php/help/qianru#5"><img src="<?=$image_site_url?>/images/share/poco/logo_0.gif" /></a></div>
                        <div class="log_pic"></div>
                        <div class="log_pic"><a href="/index.php/help/qianru#1"><img src="<?=$image_site_url?>/images/index/163.png" /></a></div>
                        <div class="log_pic"></div>

                        <div class="clr"></div>
                        </li>

                        <li class="clr"></li>
                    </ul>
                    </div>
                </div>
                <div class="to_left" onMouseDown="javascript:leftd();" id="scrl_left"><img src="<?=$image_site_url?>/images/index/left_pic2.png" /></div>
            </div>
           <script type="text/javascript">
				var i=0;var c=0;var n=0;var hh=0;var zj=0;var lee=0;var ri=0;
			 
					var len=3;//$("lol").getElementsBySelector('[class="cou_t"]').length; 
					var wid=$("cou_t1").getWidth();
					var try1=(len-1)*wid;
					var zwid=0;
					function jslen()
					{
						$("lol").style.width=len*wid+100+"px";
						$("to_cnt").style.width=len*wid+100+"px";
					}
					function leftd(){
						if(zj>= try1-wid/2+4){
					document.getElementById("scrl_left").innerHTML="<img src='<?=$image_site_url?>/images/index/right_pic2.png' />";
							clearTimeout(fun);
							lee=2;
							ri=0;
							return false;
						}
						if(lee==0){
							if(c==wid){
								lee=lee+1;
								document.getElementById("scrl_right").innerHTML="<img src='<?=$image_site_url?>/images/index/right_pic2.png' />";
								c=0;
								clearTimeout(fun);
								return false;
							}
						}
						if(lee==1){
							if(c==wid/2-2){
								document.getElementById("scrl_left").innerHTML="<img src='<?=$image_site_url?>/images/index/left_pic1.png' />";
								c=0;
								lee=lee+1;
								clearTimeout(fun);
								return false;
							}
						}
						if(lee==2){return false;}

						c++;
						zj++;
						i--;
						document.getElementById("to_cnt").style.marginLeft=i+"px";
						var fun=setTimeout(leftd,1);
					}

					function rightd(){
						lee=lee-1;
						if(zj<=0){
							document.getElementById("scrl_right").innerHTML="<img src='<?=$image_site_url?>/images/index/right_pic1.png' />";
							lee=0;
							ri=2;
							clearTimeout(fun1);
							return false;
						}
						if(hh==wid){
							document.getElementById("scrl_left").innerHTML="<img src='<?=$image_site_url?>/images/index/left_pic2.png' />";
							hh=0;
							clearTimeout(fun1);
							return false;
						}
						hh++;
						zj--;
						i++;
						document.getElementById("to_cnt").style.marginLeft=i+"px";
						var fun1=setTimeout(rightd,1);
					}
					jslen();
					</script>
         </div>
         <!--in3d E-->


          <!--活动公告 B-->
          <div class="hdgg">
            	<? include(APP_DIR_V.'/index2.0/include/gonggao.html'); ?>
          </div>
         <!--活动公告 E-->

          <!--客服服务小帮手 B-->
         <div class="in_server">
          <script type="text/javascript">
		  //<![data[
				function messengerInstalled() {
			  try {
					new ActiveXObject("MSNMessenger.P4QuickLaunch");
					window.open('msnim:add?contact=guodong_service@live.cn');
			  }
			  catch (e) {
					alert('请先安装 msn ！');
			  }
				}
				function qqInstalled() {
			  try {
					new ActiveXObject("QQ.QQAPI");
					return true;
			  }
			  catch (e) {
					return false;
			  }
				}
		  //]]-->
		  </script>
			<ul class="ser">
            	<li class="tit"></li>
                <li><a href="javascript:messengerInstalled();"></a></li>
                <li><a href="mailto:kefu@guodong.com" class="mail"></a></li>
                <li class="qq_ser">
                <a class="qq" href="http://sighttp.qq.com/cgi-bin/check?sigkey=5c2ab40f11a22e08372590c28f966111c6f18978ad320443e5706bc86dec4c05"; target=_blank; onClick="var tempSrc='http://sighttp.qq.com/wpa.js?rantime='+Math.random()+'&sigkey=5c2ab40f11a22e08372590c28f966111c6f18978ad320443e5706bc86dec4c05';var oldscript=document.getElementById('testJs');var newscript=document.createElement('script');newscript.setAttribute('type','text/javascript'); newscript.setAttribute('id', 'testJs');newscript.setAttribute('src',tempSrc);if(oldscript == null){document.body.appendChild(newscript);}else{oldscript.parentNode.replaceChild(newscript, oldscript);}return false;"></a>
                <a class="qq" href="http://sighttp.qq.com/cgi-bin/check?sigkey=6c9ff7e3e09a1138c35ebeb9f66f42db3a67a6780ba188271405a19e27a2b26c"; target=_blank; onClick="var tempSrc='http://sighttp.qq.com/wpa.js?rantime='+Math.random()+'&sigkey=6c9ff7e3e09a1138c35ebeb9f66f42db3a67a6780ba188271405a19e27a2b26c';var oldscript=document.getElementById('testJs');var newscript=document.createElement('script');newscript.setAttribute('type','text/javascript'); newscript.setAttribute('id', 'testJs');newscript.setAttribute('src',tempSrc);if(oldscript == null){document.body.appendChild(newscript);}else{oldscript.parentNode.replaceChild(newscript, oldscript);}return false;"></a>
                  </li>
                <li></li>

                <li class="ser_ly"><a href="<?=$bbs_site_url?>/forumdisplay.php?fid=15" target="_blank"></a></li>
            </ul>
            <div class="clr"></div>
      </div>
      <!--客服服务小帮手 E-->
        <div class="clr"></div>
    </div>
    <!--index left E-->

    <!--index right B-->
    <div class="right_2">


<div class="flash_ad">
            <div class="flash" style="border:#F0EEE1 solid 1px;">
  <? if(isset($index_ad_top_509x252))   include($index_ad_top_509x252);?>
<div class="clr"></div>
            </div>

        </div>

<script type="text/javascript">
var swapad = {
	now_id : null,
	timer : null,
	init : function(){
		this.auto();
	},
	swap : function(_id){
		if($('a_'+this.now_id)) $('a_'+this.now_id).style.display = 'none';
		if($('a_'+_id)) $('a_'+_id).style.display = 'block';
		if($('btn_'+this.now_id)) $('btn_'+this.now_id).style.backgroundImage = 'url(<?=$image_site_url?>/images/index/fla_ico.gif)';
		if($('btn_'+_id)) $('btn_'+_id).style.backgroundImage = 'url(<?=$image_site_url?>/images/index/fla_cur_ico.gif)';
		this.now_id = _id;
	},
	auto : function(){
		if(swapad.now_id==null||swapad.now_id==3)
		{
			swapad.swap(0);
		}
		else
		{
			swapad.swap(swapad.now_id+1);
		}
		swapad.timer = setTimeout(swapad.auto,4000);
	},
	stop : function(_id)
	{
		swapad.swap(_id);
		clearTimeout(swapad.timer);
		swapad.timer = setTimeout(swapad.auto,4000);
	}//,
//	start : function(_id)
//	{
//		if(swapad.now_id!=3) swapad.swap(_id+1);
//		else swapad.swap(0);
//		swapad.timer = setTimeout(swapad.auto,4000);
//	}
};
swapad.init();
</script>
        <div class="clr"></div>

        <div class="in_r_left">
        	<div class="tjdp" style="margin-top:20px;*margin-top:0px; height:529px;"><!--css兼容-->
        		<div class="tit"><img src="<?=$image_site_url?>/images/index/tjdp_tit.jpg" /><a href="/index.php/show/frameset/recommend" class="index_more_a" title="more">&nbsp;&nbsp;&nbsp;</a></div>
                <div class="tj_fl">
                    <span class="gray6_12b">&nbsp;分类：</span>
                    <span><a href="javascript:getRecomendDiy(1);" id="new_recomenddiy" class="gray_green_12 none gray_green_12_hover">最新搭配</a></span>
                    <span><a href="javascript:getRecomendDiy(2);" id="hot_recomenddiy" class="gray_green_12 none">人气搭配</a></span>
                </div>

                <div class="tj_list" id="tj_list">
                
                 <div class="clr"></div>
              	</div>
                <div class="clr"></div>
        	</div>
            <div class="clr"></div>
             <script type="text/javascript">
             getRecomendDiy(1);
				   function getRecomendDiy(sort){
				   if(sort==1)
				   {
				   	$("new_recomenddiy").className="gray_green_12 none gray_green_12_hover";
					$("hot_recomenddiy").className="gray_green_12 none";
				   }
				   else if(sort==2)
				   {
				   		$("new_recomenddiy").className="gray_green_12 none";
						$("hot_recomenddiy").className="gray_green_12 none gray_green_12_hover";
				   }

                	new Ajax.Request("index.php", {
						method : 'get',
						parameters : "action=index&view=recomenddiy&sort="+sort,
						onFailure : function(){},
						onLoading : function(){},
						onSuccess : function(_transport){$('tj_list').innerHTML = _transport.responseText;}
						});
                }
                </script>
            <div class="ad_pic"><? if(isset($index_ad_middle_518x103)) include($index_ad_middle_518x103)?></div>

            <div class="tjdp" style="height:373px;_height:369px; overflow:hidden;">
        		<div class="tit"><img src="<?=$image_site_url?>/images/index/good_tit.jpg" /><a href="/index.php/show/frameset/clothes" class="index_more_a" title="more">&nbsp;&nbsp;&nbsp;</a></div>
                  <div class="dj_list" id="dj_list2">                
                    <div class="clr"></div>
                </div>
                <div class="clr"></div>
                   <script type="text/javascript">
                    var num = 	new Date().getTime();
                     function getDisplayItem(n){
                     	new Ajax.Request("index.php", {
						method : 'get',
						parameters : "action=index&view=displayItems&v="+n,
						onFailure : function(){},
						onLoading : function(){},
						onSuccess : function(_transport){
							$('dj_list2').innerHTML = _transport.responseText;;
						}
						});
                     }
                     getDisplayItem(num);
                </script>
        	</div>
          <div class="in_bbs">
 
			<div class="tit"><img src="<?=$image_site_url?>/images/index/lt_tit.jpg"><a href="<?=$GLOBALS ['gSiteInfo'] ['bbs_site_url']?>" class="index_more_a" title="more" target="_blank">&nbsp;&nbsp;&nbsp;</a></div>
            <div class="bbs_l">
               <? if(isset($index_Forum_241x54)) include($index_Forum_241x54)?>
            </div>
            <ul class="bbs_list">
           <li>
		   <script language="JavaScript" src="<?=$GLOBALS ['gSiteInfo'] ['bbs_site_url']?>/api/javascript.php?key=threads_39F"></script>

</li></ul>
          </div>


      </div>


        <div class="in_r_right">
        <div class="clr"></div>
			<div class="in_3dyx">
            	<div class="tit"><img src="<?=$image_site_url?>/images/index/in_3dyx.jpg" alt="3D游戏" /></div>
                <div class="clr"></div>
                 <script type="text/javascript">
				  function show_gamelist(num){
					var game_lis = "game_lis" +num;
					$(game_lis).style.display = "block";
				  }
				  function hidden_gamelist(num){
					var game_lis = "game_lis" +num;
					$(game_lis).style.display = "none";
				  }
                  </script>
                <div class="yx_div">
               	  <div class="pic_name">
                  	<div class="pic"><a href="http://apps.xiaonei.com/guodongchat" title="动感聊天" target="_blank"><img src="<?=$image_site_url?>/images/index/dglt_l.jpg"></a></div>
                  	<div class="name">
                    	<div class="name_txt yellow_12">动感聊天</div>
                    	<div class="display_txt" onMouseMove="show_gamelist(3);" onMouseOut="hidden_gamelist(3);">
                        	<ul id="game_lis3" style="display:none;">                           
                            <li><a href="http://apps.xiaonei.com/guodongchat" title="动感聊天" target="_blank"><img src="<?=$image_site_url?>/images/index/xiaonei.jpg"></a></li>
                            </ul>
                        </div>
                    </div>
                  </div>             
                  <div class="txt_js gray6_12">抚摸、拥抱、亲吻..3D场景实实在在的立体聊天，使得聊天不再单调</div>
                </div>                
                
                <div class="yx_div">
                  <div class="pic_name">
                  	<div class="pic"><a href="http://apps.facebook.com/simscitygame/" title="Sims City" target="_blank"><img src="<?=$image_site_url?>/images/index/SIMSCITY_l.jpg" /></a></div>
                  	<div class="name">
                    	<div class="name_txt yellow_12">SIMS CITY</div>
                    	<div class="display_txt" onMouseMove="show_gamelist(1);" onMouseOut="hidden_gamelist(1);">
                        	<ul id="game_lis1" style="display:none;">
                            <li><a href="http://apps.facebook.com/simscitygame/" title="Sims City" target="_blank"><img src="<?=$image_site_url?>/images/index/facebook_log.jpg"></a></li>
                            </ul>
                        </div>
                    </div>
                  </div>
                 <div class="txt_js gray6_12">Sims City是一款面向FaceBook用户的模拟城市经营3D图形APP游戏</div>
                </div>                  
                
                <div class="yx_div">
               	  <div class="pic_name">
                  	<div class="pic"><a href="#" target="_blank" title="武林客栈"><img src="<?=$image_site_url?>/images/index/wlkz_l.jpg"></a></div>
                  	<div class="name">
                    	<div class="name_txt yellow_12">武林客栈</div>
                        <div class="jjtc"><img src="<?=$image_site_url?>/images/index/in_3dyx_jjtc.jpg"></div>
                    	<!--<div class="display_txt" onMouseMove="show_gamelist(2);" onMouseOut="hidden_gamelist(2);">
                        	<ul id="game_lis2" style="display:none;">
                            <li><a href="#" target="_blank" title="武林客栈"><img src="<?=$image_site_url?>/images/index/facebook_log.jpg"></a></li>
                            <li><a href="#" target="_blank" title="武林客栈"><img src="<?=$image_site_url?>/images/index/xiaonei.jpg"></a></li>
                            </ul>
                        </div>-->
                    </div>
                  </div>
                  <div class="txt_js gray6_12">你不是一个人在战斗！雇佣好友共同来经营一家武林客栈吧:)</div>
                </div>       

                
                <div class="yx_div">
               	  <div class="pic_name">
                  	<div class="pic"><a href="http://apps.xiaonei.com/guodongchat" title="运镖天下" target="_blank"><img src="<?=$image_site_url?>/images/index/ybtx_l.jpg"></a></div>
                  	<div class="name">
                    	<div class="name_txt yellow_12">运镖天下</div>
                    	<div class="jjtc"><img src="<?=$image_site_url?>/images/index/in_3dyx_jjtc.jpg"></div>
                  </div>
                </div>
                  <div class="txt_js gray6_12">运镖天下是一款基于用户SNS交互的APP网页游戏产品</div>

            </div>
             </div>

            <div class="r_ad_pic"><? if(isset($index_ad_right1_215x106)) include($index_ad_right1_215x106)?></div>
             <div class="r_ad_pic2"><? if(isset($index_ad_right3_215x106)) include($index_ad_right3_215x106)?></div>
            <div class="gdby">
                <div class="tit"><img src="<?=$image_site_url?>/images/index/gdby.png" /><a href="/index.php/index/example" class="index_more_game" title="more">&nbsp;&nbsp;&nbsp;</a></div>
                    <? if(!empty($user_example))
                          {
                            foreach ($user_example as $example ) {
                                if(count($example)>0){?>
                                <div class="gril">
                                <div class="user_pic"><a href="index.php/user/defaults/<?=$example[0]['user_name']?>" style="display:block; height:86px;" ><img src="<?=$image_site_url?>/images/user_example/<?=$example[0]['user_pic']?>" width="86" height="86"/></a><div class="user_name"><a href="index.php?action=user&defaults=<?=$example[0]['user_name']?>" class="name yellow_12 noneline"><?=$example[0]['user_nickname']?></a></div></div>
                                
                                
                                <ul class="user_list">
                               <?
                               array_shift($example);
                               foreach($example as $k=>$v){?>
                               <li><a href="index.php/user/defaults/<?=$v['user_name']?>" class="blue_by12 noneline"><?=$v['user_nickname']?></a></li>
                               
                             <? }?>
                                </ul>
                            </div>
                            <? }
                                }
                            }
                            ?>
            </div>

             <div class="r_ad_pic3"><? if(isset($index_ad_right2_215x106)) include($index_ad_right2_215x106)?></div>
        </div>

    </div>
     <!--index right E-->
<div class="clr"></div>
</div>
<div class="clr"></div>

<? include(APP_DIR_V.'/index2.0/include/foot.html'); ?>
</body>
</html>

