<? include APP_DIR_V."/index2.0/include/head.html";?>
<script language="javascript" type="text/javascript" src="<?=$image_site_url?>/js/control/control.js?v=<?=$version?>"></script>
<script language="javascript" type="text/javascript" src="<?=$image_site_url?>/js/datacom.js?v=<?=$version?>"></script>
<script language="javascript" type="text/javascript" src="<?=$image_site_url?>/js/control/invite.js?v=<?=$version?>"></script>
</head>
<style type="text/css">
 #invitetishi { margin:30px 20px;}
 #invitetishi input{ margin:0px 5px; height:19px; background:url(<?=$image_site_url?>/images/component/min_component/alert_btn_bg.gif) top repeat-x; color:#000; text-align:center; border:#606F13 solid 1px; }
</style>
<body onload="document.form1.login.focus();">
<!--弹出层容器 开始 -->
<? include APP_DIR_V."/index2.0/include/alertdiv.html";?>
<!--弹出层容器 结束 -->

<div class="invite">
	<!--邀请标题-->
<div class="tit"><div class="pic_tit"><img src="<?=$image_site_url?>/images/invite/tit_pic_index.jpg" /></div></div>
<div class="inv_main" id="loading" style="display:none;">
    <div style="margin-top:90px;margin-left:170px;">
      <div class="pic_tit"><div class="pic"><img src="<?=$image_site_url?>/images/invite/buy/com_titpic.jpg" /></div></div>
      <div class="com_c" ><div  class="no_m" id="showinfo"></div></div>    
      <div id="invitetishi"><input type="button" class="input" value="好，我知道了" onclick="ask_ok();"></div>
     </div>
  </div>
    <!--邀请主要内容-->
  <div class="inv_main" id="loaded">
   	  <div class="gray4_12">&nbsp;&nbsp;&nbsp;从我的MSN导入朋友名单，选择可以邀请的朋友并发送邀请邮件</div>
      <div class="qq_inv">
	   <FORM METHOD='POST' name="form1" ACTION="<?=$www_site_url?>/index.php"  id="form1">
		<input type="hidden" value="invite" name="action" id='action'>
		<input type="hidden" value="msn" name="op">
      	<table width="103%" border="0" cellspacing="0">
  <tr>
    <td width="18%" height="30" align="right" class="gray6_12">MSN号码<br /></td>
    <td width="22%" height="30"><div class="input_qq">
      <input class="in intxt_11" type="text" name="login" id="login"  value=""/>
    </div></td>
    <td width="60%" height="30" class="gray9_12">我们不会记录你的密码，请放心使用。</td>
  </tr>
  <tr>
    <td height="30" align="right" class="gray6_12">MSN密码</td>
    <td height="30"><div class="input_qq"><input class="in intxt_11" type="password" name="password" value="" id="password" /></div></td>
    <td height="30">&nbsp;</td>
  </tr>
  <tr>
    <td height="60">&nbsp;</td>
    <td height="30"><a href="javascript:import_msn();"><img src="<?=$image_site_url?>/images/invite/inport.jpg" alt="开始导入" width="78" height="24" /></a></td>
    <td height="30"><a href="index.php?action=invite&view=index" class="blue_by12 underline">返回查看其他邀请方式</a></td>
  </tr>
</table>
</FORM>
  </div>
</div>
</div>

</body>
</html>
