<? include APP_DIR_V."/index2.0/include/head.html";?>
<script language="javascript" type="text/javascript" src="<?=$image_site_url?>/js/control/invite.js?v=<?=$version?>"></script>
</head>
<style type="text/css">

</style>
<body>
<div class="invite">
	<!--邀请标题-->
<div class="tit"><div class="pic_tit"><img src="<?=$image_site_url?>/images/invite/tit_pic_index.jpg" /></div></div>
    <!--邀请主要内容-->
  <div class="inv_main">
    <div class="green_14b">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;邀请成功！</div>
    <div class="qq_inv"><a href="?action=invite&view=<?=$newaction?>" class="gray0_12 underline">继续用别的方式邀请我的朋友们</a></div>

  </div>
</div>
</body>
</html>
