<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>邀请-果动网-分享3D生活-美化我的博客空间</title>
<link href="<?=$image_site_url?>/css/basic.css?v=<?=$version?>" rel="stylesheet" type="text/css" />
<link href="<?=$image_site_url?>/css/component/component.css?v=<?=$version?>" rel="stylesheet" type="text/css" />
</head>
<style type="text/css">

</style>
<body>
<div class="invite">
	<!--邀请标题-->
	<div class="tit"><div class="pic_tit"><img src="<?=$image_site_url?>/images/invite/tit_pic_index.jpg" /></div></div>
    <!--邀请主要内容-->
    <div class="inv_main">
    	<div class="inv_mode">
			<div class="inv_name">
				<div class="inv_link"><a class="gray0_14 noneline" href="index.php/invite/qq">导入QQ好友至邀请名单</a></div>
				<div class="inv_zhushi gray6_12">可导入你的QQ<img src="<?=$image_site_url?>/images/invite/qq_qi.jpg" />上的好友</div>
			</div>
			<div class="inv_name">
				<div class="inv_link"><a class="gray0_14 noneline" href="?action=invite&view=freemail">导入邮箱的通讯录至邀请名单</a></div>
				<div class="inv_zhushi gray6_12">支持163和QQ<img src="<?=$image_site_url?>/images/invite/qq_qi.jpg" />等10类免费邮箱</div>
			</div>
			<div class="inv_name">
				<div class="inv_link"><a class="gray0_14 noneline" href="?action=invite&view=copyurl">通过链接邀请</a></div>
				<div class="inv_zhushi gray6_12">用<img src="<?=$image_site_url?>/images/invite/qq_msn.jpg" width="35" height="16" />等聊天工具发送邀请链接</div>
			</div>
			<div class="inv_name">
				<div class="inv_link"><a class="gray0_14 noneline" href="?action=invite&view=msn">导入MSN联系人至邀请名单</a></div>
				<div class="inv_zhushi gray6_12">可导入你的MSN<img src="<?=$image_site_url?>/images/invite/msn.jpg" width="16" height="13" />上的联系人名单</div>
			</div>
			<div class="inv_name">
				<div class="inv_link"><a class="gray0_14 noneline" href="?action=invite&view=sendmail">通过EMAIL邀请</a></div>
				<div class="inv_zhushi gray6_12">向对方的邮箱发送邀请邮件</div>
			</div>
        </div>
    </div>

</div>

</body>
</html>
