<?include_once(APP_DIR_V.'/index2.0/include/head.html')?>
<style>

	/*对主导航重新定义*/
	/*内容外框样式*/
.main_content .yao_haoyou{ width:880px; height:477px; margin:10px auto;}
.main_content .yao_haoyou .player{ width:307px; height:463px; float:right; margin-right:2px; margin-bottom:16px;}
.main_content .yao_haoyou .player .my_reg{ height:25px;}
.main_content .yao_haoyou .usr_yao{ width:500px; height:463px; float:left;}
.main_content .yao_haoyou .usr_yao .you_pic{ float:left; margin-left:5px; width:68px; height:75px; padding:1px; text-align:center;border:#E8F0B5 solid 1px;}
.main_content .yao_haoyou .usr_yao .you_pic p{ width:68px; height:20px; overflow:hidden; white-space:nowarp; margin-top:3px;}

.main_content .yao_haoyou .usr_yao .yao_font{ width:400px; float:right;}
.main_content .yao_haoyou .usr_yao .yao_font p{ width:380px; margin-top:10px; margin-bottom:20px; padding-left:35px; line-height:24px;}
.main_content .yao_haoyou .usr_yao .yao_font ul{margin-left:35px; width:354px;}
.main_content .yao_haoyou .usr_yao .yao_font li{ float:left; height:28px; line-height:28px;}
.main_content .yao_haoyou .usr_yao .yao_font li.yqm_in{width:91px; height:24px; vertical-align:middle; margin:0 9px; border:1px solid #e0e0e0; text-align:center;}

.but_180{ width:180px; height:21px; background-color:#6A9610; color:#fff; text-align:center;border-left:#8BC415 solid 1px; border-top:#8BC415 solid 1px;  border-right:#425C0A solid 1px; border-bottom:#425C0A solid 1px;}


</style>
</head>

<body>
<!-- main -->
<div id="main">
 <?include_once(APP_DIR_V.'/index2.0/include/menu.html')?>
			<!-- menu -->

			<div class="main_content">
				<div class="yao_haoyou">
                	<div class="usr_yao">
                		<div class="you_pic">
                          <a href="/index.php/user/center/user/<?=$vuser['user_name']?>"><img src="<?echo $src?>" width="66" height="65" border="0"  /></a>
                        <p><img src="<?=$image_site_url?>/images/component/min_component/m_arr.jpg" /><?=$vuser['user_nickname']?></p>
                      </div>
                    <div class="yao_font">
                    <div class="hp_black14b">HI!我是<?=$vuser['user_nickname']?>：</div>
                    	<p class="hp_black14">我发现了一个好玩的网站，叫果动网，现在已经开放注册了！我的几个好友已经在上面拥有了自己非常有意思的<span class="hp_black14b">３Ｄ形象</span>，还能<span class="hp_black14b">嵌入到</span>咱们的<span class="hp_black14b">博客或者空间</span>里面，实在太酷了！</p>
						<p class="hp_black14">你也来试试吧！别说我有好玩意儿不跟你分享呦！</p>

						 <div class="clr"></div>

                        <ul>
                      <li><input class="but_180 white_14" name="" type="button" value="注册，并收藏我为好友吧！" style="height:28px; line-height:28px;" onclick="window.location.href='/index.php/passport/reg/sponsor/<?=$res?>'" /></li></ul>

                    </div>

                    </div>

                    <div class="player">
                    <div class="my_reg"><?=$vuser['user_nickname']?>在果动网的3D形象，<a class="hp_black12b" href="index.php/passport/reg/sponsor/<?=$res?>">你也来试试吧！</a></div>
                    <div id="iDolAtx"><img src="<?echo $src2 ?>" /></div>

                    </div>
				</div>
                <div class="clr"></div>
			</div>

</div><br>
<?
include_once(APP_DIR_V.'/index2.0/include/foot.html');
?>
</body>
</html>