<?include_once(APP_DIR_V.'/index2.0/include/head.html')?>
<script language="javascript" type="text/javascript" src="<?=$image_site_url?>/js/control/share.js?v=<?=$version?>"></script>
<div class="implant_right" style="border:0;">
    	<div class="implant_tit3">
			<a href="/index.php/share/index" class="s_1" title="选择你要嵌入的空间"></a>
        	<a href="/index.php/share/size/type/<?=$type?>" class="s_2" title="选取显示位置"></a>
			<a href="/index.php/share/<?=$type?>/type/<?=$type?>" class="s_3" title="嵌入空间"></a>
		</div>
        <div class="clr"></div>
        <div class="im_nav">
        	<a href="/index.php/share/myspace/type/myspace" class="hover">复制代码</a>
        </div>
        
        <div class="im_comp">
          <table width="253" border="0" align="right" cellpadding="0" cellspacing="0">
            <tr>
              <td height="30"><div class="input_urlbg"><input type="text" name="avatar_code" id="avatar_code" value="<?=$flash?>" /></div></td>
            </tr>
            <tr>
              <td height="25">
			  	<img src="<?=$image_site_url?>/images/component/implant/copy_btn.jpg" width="78" height="22" style="cursor:pointer;" onClick="copyCode('avatar_code')" />
			  </td>
            </tr>
            <tr>
              <td height="15"></td>
            </tr>
            <tr>
              <td height="30"><span class="gray9_12">通过代码将3D形象嵌入到聚友网</span></td>
            </tr>
            <tr>
              <td height="30">
				  <a href="http://www.myspace.cn" target="_blank">
				  <img src="<?=$image_site_url?>/images/component/implant/myspace.jpg" width="154" height="25" />
				  </a>
			  </td>
            </tr>
            <tr>
              <td height="30">&nbsp;</td>
            </tr>
        </table>
      </div>
      <div class="clr"></div>
     <div class="help_a" style=" margin-top:200px;">
         <p class="help_p"><a href="javascript:copy_help('myspace');" class="blue_by12">查看教程</a></p>
         <p class="bianji_p"><a href="javascript:top.window.location.href='/index.php/show/frameset';" class="blue_by12">继续编辑形象</a></p>
     </div>   
  </div>