<?include_once(APP_DIR_V.'/index2.0/include/head.html')?>
<script language="javascript" type="text/javascript" src="<?=$image_site_url?>/js/communicate.js?v=<?=$version?>"></script>
<script>
function setWH()
{
	var width = $('width').value;
	var height = $('height').value;
	parent.setViewWH(width,height);
}

function save(type)
{
	parent.saveView();
	window.location.href ='/index.php/share/' + type + '/type/' + type;
}
</script>
<!--implant_right   BB-->
<div class="implant_right" style="border:0;">
	<div class="implant_tit2">
		<a href="/index.php/share/index" class="s_1" title="选择你要嵌入的空间"></a>
		<a href="/index.php/share/size/type/<?=$type?>" class="s_2" title="选取显示位置"></a>
	</div>
	<div class="clr"></div>
	<div class="im_nav">
		<a href="/index.php/share/size/type/<?=$type?>" class="hover">自定义</a>
	</div>

	<div class="im_comp">
		<table width="220" border="0" cellspacing="0" cellpadding="0">
		  <tr>
			<td width="50" height="30" align="right"><span class="gray4_12">宽度：</span></td>
			<td width="64" height="30"><div class="input_bg"><input name="width" id="width" type="text" value="<?=$size['width']?>" /></div></td>
			<td width="35" align="left"><span class="gray9_12">像素</span></td>
			<td width="50" rowspan="2" align="left"><a href="javascript:setWH();"><img src="<?=$image_site_url?>/images/component/implant/ent_nbtn.jpg" width="48" height="52" /></a></td>
		  </tr>
		  <tr>
			<td width="50" height="30" align="right"><span class="gray4_12">高度：</span></td>
			<td height="30"><div class="input_bg">
			  <input name="height" id="height" type="text" value="<?=$size['height']?>" />
			</div></td>
			<td width="25" align="left"><span class="gray9_12">像素</span></td>
		  </tr>
		  <tr>
			<td height="10" align="right"></td>
			<td height="10"></td>
			<td align="left"></td>
			<td height="10" align="left"></td>
		  </tr>
		  <tr>
			<td height="35" align="right">&nbsp;</td>
			<td height="35" align="left"><a href="javascript:save('<?=$type?>');"><img src="<?=$image_site_url?>/images/component/implant/next_btn.jpg" width="75" height="25" /></a>			</td>
			<td align="left">&nbsp;</td>
			<td height="35" align="left"></td>
		  </tr>
	</table>

  </div>
	<div class="help_a" style=" margin-top:402px;">
		<p class="bianji_p"><a href="javascript:top.window.location.href='/index.php/show/frameset';" class="blue_by12">继续编辑形象</a></p>
	</div>
</div> 
 