<?include_once(APP_DIR_V.'/index2.0/include/head.html')?>
<script language="javascript" type="text/javascript" src="<?=$image_site_url?>/js/control/show.js?v=<?=$version?>"></script>
<link href="<?=$image_site_url?>/css/user_manage.css?v=<?=$version?>" rel="stylesheet" type="text/css" />
</head>
<body style="width:800px;">
<!--弹出层容器 开始 -->
<? include APP_DIR_V."/index2.0/include/alertdiv.html";?>
<!--弹出层容器 结束 -->
<div class="right_f">
            <div class="banner_f">
                <? if(isset($show_diyword_banner_688x90)) include($show_diyword_banner_688x90)?>
            </div>

	<div class="con">
		<div class="pro_class">
          <div class="class_p">
			<a href="/index.php/show/diy" class="gray6_12 noneline" style="width:42px;">图片</a>
			<a href="/index.php/show/txtdiy" class="yellowf3_12b none" style="width:42px;">文字</a>
          </div>
        </div>

      <div class="con_div" style="height:536px;">
	  <form action="index.php" method="post" name="txt" id="txt">
	  <input type="hidden" name="action" value="show"/>
   	  <input type="hidden" name="op" value="addtxt"/>
        <div class="uptxt_bg">
        	<div class="clr"></div>
          	<div class="txt_are">
				<label>
				<textarea class="are" name="textarea" id="textarea" cols="45" rows="5"></textarea>
				</label>
				<label>
				<input type="button" class="ok_btn" onClick="addtext(<?=$is_login?>,<?=$user_vip?>,<?=$txtCount?>)" style="cursor:pointer" />
				</label>
            </div>
        </div>
	   </form>

        <div <?if ( !empty( $txt ) )echo 'class="txt_tishi yellowf3_12"';?>></div>
        <ul class="txt_list" id="txtlist">
		<?
		if ( !empty( $txt ) )
		{
			foreach ( $txt as $key => $value )
			{
		?>
        	<li id="li_<?=$key?>">
                <span class="tit"><b onClick="javascript:top.leftFrame.setText('<?=$value?>');" style="cursor:pointer;"><?=$value?></b></span>
                <span class="dele_span"><a href="javascript:Post_deltxt(<?=$key?>);top.leftFrame.deleteDiy('<?=$value?>');" class="gray9_12 noneline">删除</a></span>
            </li>
        <?}}?>
        </ul>

      <div class="clr"></div>
      </div>


  </div>
</div>
<? include(APP_DIR_V.'/index2.0/include/framefoot.html'); ?>
</body>
</html>

