<? include APP_DIR_V."/index2.0/include/head.html";?>
</head>
<body>
<div class="buy_wp_alt">
        <div class="tit">
            <div class="pic_tit"><img src="<?=$image_site_url?>/images/invite/buy/wdwp_tit.jpg" /></div>
        </div>

  		<div class="mid_c">
  			<?

  			if(isset($wealths['records'])&&is_array($wealths['records'])){
  			foreach ($wealths['records'] as $key=>$item){
  				if($item['wealth_item_cateid']==19)
  					$flag = -1;
				else
					$flag=1;
  			?>
	    	  <div class="dj_div">
	   	  		<div class="dj_pic">
	   	  		<?php if($item['item_type']!='2D'){?>
	   	  		<a href="javascript:parent.top.leftFrame.setModelById('<?=$item['wealth_item_id']?>','<?=$item['item_type']?>');">
	   	  		<? }else{?>
				<a href="javascript:parent.top.leftFrame.setImageUrls('<?=$item['item_2dfile']?>','<?=$item['item_id']?>',<?=$flag?>);">
	   	  		<? }?>
	   	  		<img src="<?=$image_site_url?>/images/itemimages/<?=$item['wealth_item_name']?>_109x109.jpg" width="103" height="103" /></a></div>
	            <div class="time yellow_12"><?=$item['wealth_item_title']?></div>
	            <div class="time yellow_12"><?=date('Y/m/d',$item['wealth_expiry_time'])?> 到期</div>
	      		<div class="xf_btn"><a href="javascript:parent.show_renew('<?=$item['wealth_id']?>')"><img src="<?=$image_site_url?>/images/invite/buy/xf_btn.jpg" /></a></div>
	          </div>
	          <? }
  			}else{
  			?>
  			 <p>&nbsp;</p>
	  	 	 <table border="0" cellspacing="10" cellpadding="0" align="center">
			  <tr>
			    <td align="center"><img src="<?=$image_site_url?>/images/index/v.gif" /></td>
			    <td align="left">您目前还<strong>没有</strong>任何物品。</td>
			  </tr>
			</table>	
  			<?}?>
    	</div>


	    <!-- 道具分页开始-->
	 	<?
		if(isset($wealths['page']->total) && ($wealths['page']->total > $wealths['page']->onepage))
		{
		?>
		<form method="GET" action="/index.php" name='form1'>
			<input type='hidden' name="action" value="show" />
			<input type='hidden' name="view" value="closet" />
			<input type='hidden' name="sort" value="<?=$con['order']?>" />
	    <div class="page">
	    	<div class="pre_page"><?=$wealths['page_array']['prePage']?></div>
	        <div class="list_page">
	        	<?=$wealths['page_array']['numBar'];?>
	        </div>
	        <div class="next_page"><?=$wealths['page_array']['nextPage']?></div>
	    </div>
	    </form>
	 	<?}?>
		<!-- 道具分页结束-->
</div>
</body>
</html>
