<? include APP_DIR_V."/index2.0/include/head.html";?>
<script language="javascript" type="text/javascript" src="<?=$image_site_url?>/js/control/show.js?v=<?=$version?>"></script>
 
</head>

<body style="width:800px;">
<!--弹出层容器 开始 -->
<? include APP_DIR_V."/index2.0/include/alertdiv.html";?>
<!--弹出层容器 结束 -->

<div class="right_f">
  	<div class="tj_ad">
   	    <div class="left_ad"><? if(isset($show_topleft_500x200)) include($show_topleft_500x200)?></div>
        <div class="right_ad">
        	<div class="pic"><? if(isset($show_topright1_183x63)) include($show_topright1_183x63)?></a></div>
            <div class="pic"><? if(isset($show_topright2_183x63)) include($show_topright2_183x63)?></a></div>
            <div class="pic" style="margin-top:1px;"><? if(isset($show_topright3_183x63)) include($show_topright3_183x63)?></a></div>
       </div>
  	</div>

   <div class="g_bl_bg">
   	  <div class="tj_tit"><img src="<?=$image_site_url?>/images/component/G_bl/tj_tit.jpg" width="664" height="30" /></div>
      <div class="g_bl_tj">
       <?php
	  	if(isset($recommenditems['records']) && is_array($recommenditems['records'])) {
	  	 foreach ($recommenditems['records'] as $key=>$item){
       ?>
         <div class="list">
          <div class="pic_bg">
            <div class="clr"></div>
            <div class="pic">
                <span class="new_hot" style=" width:53px; height:59px;background:url(<?=$image_site_url?>/images/new_pico_in.png) 0 0 no-repeat; +background:none;"><img src="<?=$image_site_url?>/images/blank.gif" style="background:url(<?=$image_site_url?>/images/new_pico_in.png)!important;background:none;filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(src='<?=$image_site_url?>/images/new_pico_in.png',sizingMethod='image');" /></span>
                <a href="javascript:top.leftFrame.setAllModelsById(<?=$item['id']?>);"><span class="jiage_add_gg"><b class="guoguo"><?=$item['coins']?></b><b class="add_bg"></b><b class="g_bg"><?=$item['cash']?></b></span><img src="<?=$image_site_url?>/recomenddiy/images/<?=$item['pic']?>" /></a>
            </div>
            <div class="name"><a href="javascript:top.leftFrame.setAllModelsById(<?=$item['id']?>);" class="yellow_13 noneline"><?=$item['title']?></a></div>

          </div>
          <div class="bottom_txt">
            <div class="btn">
                <a href="javascript:top.leftFrame.setAllModelsById(<?=$item['id']?>);"><img src="<?=$image_site_url?>/images/component/r_flist/drass_btn.png" /></a>
                <a href="javascript:addAllToCart(<?=$item['id']?>);"><img src="<?=$image_site_url?>/images/component/r_flist/buy_btn.png" /></a>
            </div>
          </div>
        </div>
       <?php
	  	 }
	  	}else{
	  	?>
        <p>&nbsp;</p>
	  	  <table border="0" cellspacing="10" cellpadding="0" align="center">
			 <tr>
			    <td><img src="<?=$image_site_url?>/images/index/v.gif" /></td>
			    <td>没有数据<br /><a href="javascript:history.go(-1)" class="blue_by12 noneline">返回</a> </td>
			  </tr>
			</table>
	  	 <?}?>
      </div>
 	<div class="clr"></div>
    <div style="padding-bottom:20px;"></div>
    </div>

      <div class="g_bl_bg">
   	  	<div class="tj_tit"><img src="<?=$image_site_url?>/images/component/G_bl/kxdj_tit.jpg" width="664" height="30" /></div>
       	<div class="clr"></div>
       	 <!--book_bg tj_book_bg start -->
    	<div class="book_bg tj_book_bg">
    		<div class="clr"></div>
    		<!-- list_div tj_list_div 开始-->
    		<div class="list_div tj_list_div">
				  	 <?php
				  	 	$grade  = $GLOBALS ['showConfig']['grade_star'];
				        $count=count($grade);
				        $starfh="★";
				  	 	if(isset($items['records']) && is_array($items['records'])) {
				  	 		foreach ($items['records'] as $key=>$item){

						  	 	for($i=0;$i<$count;$i++){
							  	   if($item['item_hit']>=$grade[$i][0]){
							  	     $starfh=$grade[$i][1];
							  	   }
							  	 }

				  	 	?>
				  	 	<!-- list start-->
				   	  <div class="list" id="list_<?=$key?>">
					      	<div class="pic">
					        	<a href="javascript:top.leftFrame.setModelById(<?=$item['item_id']?>,'<?=$item['item_type']?>');"  onMouseOver="javascript:over($('list_<?=$key?>'));" onMouseOut="javascript:out($('list_<?=$key?>'));">
					        		<?if($item['item_hit'] >= $GLOBALS ['showConfig']['favor']){?> <span class="new_hot" style=" width:53px; height:59px;background:url(<?=$image_site_url?>/images/hot_pico_in.png) 0 0 no-repeat; +background:none;"><img style="filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='<?=$image_site_url?>/images/hot_pico_in.png',sizingMethod='image'); BACKGROUND: url(<?=$image_site_url?>/images/hot_pico_in.png);" src="<?=$image_site_url?>/images/blank.gif" complete="complete" /></span><?}?>
						            <?if($item['leftime'] <= $GLOBALS ['showConfig']['newer']){?>  <span class="new_hot" style=" width:53px; height:59px;background:url(<?=$image_site_url?>/images/new_pico_in.png) 0 0 no-repeat; +background:none;"><img style="filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='<?=$image_site_url?>/images/new_pico_in.png',sizingMethod='image'); BACKGROUND: url(<?=$image_site_url?>/images/new_pico_in.png);" src="<?=$image_site_url?>/images/blank.gif" complete="complete" /></span><?}?>
					                <img src="<?=$image_site_url?>/images/itemimages/<?=$item['item_name']?>_109x109.jpg" width="103" height="103" />
					            </a>
					            <span class="author">
					                <b class="time"><?=date('m/d/y',$item['item_regtime'])?>发布</b>
					                <b class="time">作者：<i class="white_12"><?=$item['item_author']?></i></b>
					                <b class="time">人气值：<?=$item['item_hit']?></b>
					                <b class="time white_12"><?echo $starfh;?></b>
					                <b class="time">加入VIP全场道具免费更换。</b>
					          </span>
					        </div>
					        <div class="name yellow_13"><?=$item['item_title']?></div>
					        <div class="vip_p"><span class="<?  if($item['item_price_type']=='GB') echo 'g_bg'; elseif($item['item_price_type']=='GG') echo 'guoguo_bg'; ?> yellowf3_12b"><?=$item['item_price']?></span></div>

					        <div class="btn_div">
					   	      <div class="btn"><a href="javascript:top.leftFrame.setModelById(<?=$item['item_id']?>,'<?=$item['item_type']?>');"><img src="<?=$image_site_url?>/images/component/r_flist/drass_btn.png" alt="试穿" /></a></div>
					   	      <div class="btn"><a href="javascript:addToCart(<?=$item['item_id']?>)"><img src="<?=$image_site_url?>/images/component/r_flist/buy_btn.png" alt="购买" /></a></div>
					   	    </div>
				   	  </div>
					<!-- list end-->
				 		<?php
				  	 		}
				  	 	}else{
				  	 		?>
						<p>&nbsp;</p>
				  	 	 <table border="0" cellspacing="10" cellpadding="0" align="center">
						  <tr>
						    <td><img src="<?=$image_site_url?>/images/index/v.gif" /></td>
						    <td>没有道具<br /><a href="javascript:history.go(-1)" class="blue_by12 noneline">返回</a> </td>
						  </tr>
						</table>
				  	 		<?
				  	 	}
				 		?>


				      <div class="clr"></div>

			    </div>
				 <!-- list_div tj_list_div 结束-->


	  </div>
	  <!--book_bg tj_book_bg end -->
  	<div class="clr"></div>
    <div style="padding-bottom:20px;"></div>
	  </div>
	  <!--g_bl_bg end -->



  <div class="bottom_ad"><? if(isset($show_bottom_688x90)) include($show_bottom_688x90)?></div>

</div>

<? include(APP_DIR_V.'/index2.0/include/framefoot.html'); ?>
</body>
</html>

