<?include_once(APP_DIR_V.'/index2.0/include/head.html')?>

<style type="text/css">
#lod_rule{width:920px;margin-left:auto;margin-right:auto;margin-bottom:15px;background:#FFFFFF;float:left;margin-left:44px;}
#lod_rule .rule_head{margin-right:20px;color:#434343;font-size:12px;}
#lod_rule .rule_content{padding-left:50px;}
#lod_rule .rule_tfoot{margin-left:auto;margin-right:auto;width:200px;margin-top:40px;}
#lod_rule .rule_head p{line-height:150%;}
#lod_rule .rule_head .count{margin:20px auto;}
#lod_rule .rule_head .count_sc{margin-top:20px;}
</style>
</head>
<body>
<? include(APP_DIR_V.'/index2.0/include/menu.html'); ?>
<div id="lod_rule">
<div class="rule_head">
<div class="rule_content">
<p style="text-align:center;font-weight:bold;font-size:1.5em;color:#424242;margin:20px auto;"><原创分享上传规则></p>
<p class="count">一、关于果动原创分享上传</p>
<p>“果动网”拥有对“果动原创分享上传”的最终修改权和解释权。“果动原创分享上传”推出，意在促进用户之间的交流，给拥护一个展示自己原创作品的舞台。</p>

<p class="count">二、详细规则</p>
<p>1、作品要求：</p>
<p>[1]参榜作品必须为原创作品，且作者拥有作品的著作权。</p>
<p>[2]参榜作品必须为成品，创作中的作品请勿提交。</p>
<p>[3]上传美术资源内容为标准MAX文档及其配套贴图文件，3D文件贴图尺寸不得超过512*512，格式为PNG或PSD。单个文件大小不能超3MB。标准人物模型下载地址：男性角色  女性角色。</p>
<p>[4]上传主题内容，尺寸为800*600，格式为JPG或GIF，单个文件大小不能超过1M。</p>
<p>[5]上传文件请用英文字母命名，请不要含有“"”、“'”、“&”、“%”以及中文和空格等非法字符。</p>

<p class="count_sc">2、使用：</p>
<p>作品最终通过审评后将被放入道具商城提供给其他用户免费使用，您有权通知果动网停止该作品的发布。</p>

<p class="count">三、作品审核</p>

<p>您所提交的作品，必须经过我们的评审团审核后，才能正式发布。</p>

<p class="count">四、责任与版权：</p>

<p>1、侵权责任：</p>
<p>您的所提交上传作品必须是原创作品，且享有该作品的著作权。如果是上传的是他人作品，那么，请先征询作者同意。否则，由此引起的版权纠纷由上传该作品者自己承担，与果动网站（<a href="www.guodong.com">www.guodong.com</a>）无关。</p>
<p>上传作品中使用的素材，摄影，电影，照片以及音乐等所以该作品内出现的内容必须要得到著作权所有者的同意才能使用。如果出现第三者提出侵权，要求赔偿的情况的话，所有责任将由上传者本人承担，“果动网”不负任何责任。
</p>

<p class="count_sc">2、版权归属：</p>
<p>您参与"果动原创分享上传"，提交作品的同时，就意味着您已经同意将您作品的出版和发表权授权给“果动网”。否则请不要上闯您或者他人的作品。</p>
<p>“果动网”在发表原创分享上传结果，进行广告宣传，进行作品征集活动等的无偿放映，复制，印刷，以及在网页上公开相关的上传作品；</p>
<p>但是您将拥有作品署名的权利。</p>
</div>

<div class="rule_tfoot">

<a style="margin-right:30px;"href="javascript:history.back()"><img src="<?=$image_site_url?>/images/onload/images/onload_Rule_07.gif" /></a>

<a href="/index.php/works/uploadws/isread/1"><img src="<?=$image_site_url?>/images/onload/images/onload_Rule_09.gif" /></a>
</div>
</div>
</div>
<? include(APP_DIR_V.'/index2.0/include/foot.html'); ?>
</body>
</html>