<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="KEYWords" content="果动网,动感装饰,空间装饰,qq空间美化,非主流qq空间">
<meta name="description" content="果动网3D人物能创建出动感十足的3D挂件、3D名片、3D背景，嵌入qq空间，校内网，51，搜狐博客等个人空间">
<title><?=$title?></title>
<link href="<?=$image_site_url?>/css/basic.css?v=<?=$version?>" rel="stylesheet" type="text/css" />
<link href="<?=$image_site_url?>/css/component/component.css?v=<?=$version?>"rel="stylesheet" type="text/css" />
<script language="javascript" type="text/javascript" src="<?=$image_site_url?>/js/config.js?v=<?=$version?>"></script>
<script language="javascript" type="text/javascript" src="<?=$image_site_url?>/js/lib/prototype.js?v=<?=$version?>"></script>
<script language="javascript" type="text/javascript" src="<?=$image_site_url?>/js/lib/cookies.js?v=<?=$version?>"></script>
<script language="javascript" type="text/javascript" src="<?=$image_site_url?>/js/common.js?v=<?=$version?>"></script>
<script>
document.domain="<?=substr(COOKIE_DOMAIN,1)?>";
</script>