<!--弹出层容器 开始 -->
<div id="AlertBlack" style="display:none;"></div>
<div id="Alert" style="display:none;" class="alt_new">
	<div class="c_box">
		 <div class="buy_com_alt" id="Alertc"></div>
		 <div id="Alert_btn"></div>
	</div>
</div>
<a href="javascript:closeAlert();"><img id="Alertclose" src="<?=$image_site_url?>/images/blank.gif" style="display:none; width:12px; height:12px; background:url(<?=$image_site_url?>/images/invite/close_pic.png)!important;background:none;filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(src='<?=$image_site_url?>/images/invite/close_pic.png',sizingMethod='image');" /></a>
<!--弹出层容器 结束 -->

<a name="top"></a>


<div class="header">
	<div class="header_c">
   	  <div class="m_nav">
   		<div class="date"><span class="gray7_12"  id="festTitle"></span></div>
        <div class="m_subnav gray6c_12">

         <? if(isset($is_login)&&$is_login==1 ){?>

         <a href="/index.php?action=passport&view=logout&url=<?=urlencode($_SERVER["REQUEST_URI"])?>" class="gray6c_12 noneline">退出</a>
         <span>|</span>

         <a href="/index.php/help/newuser" class="gray6c_12 noneline">帮助</a>
         <span>|</span>
         <a href="/index.php/help/hdgg" class="gray6c_12 noneline">活动</a>
         <span>|</span>
         <a href="/index.php/charge" class="gray6c_12 noneline">充值</a>
         <span>|</span>
        <a href="javascript:show_invite(508,440,'/index.php?action=invite&view=index');" class="green8f_12b noneline">获得果果</a>
         <span>|</span>
       	<span class="yellowf3_12b" title="果果" style="padding:0;"><?=$_COOKIE['IDOL_COIN_'.$user_name]?></span>
         <span class="guo_ico"><img src="<?=$image_site_url?>/images/component/r_flist/guoguo.gif" /> </span>

        <? if(isset($_COOKIE['IDOL_MSGNUM_'.$user_name]) && $_COOKIE['IDOL_MSGNUM_'.$user_name]>0){?>
		<div id="msg_div">
		<a href="/index.php/user/message/type/noread" class="gray6c_12 noneline">[<b id="msg_num"><?=$_COOKIE['IDOL_MSGNUM_'.$user_name]?></b>]</a><span class="maile_ico" style="padding:10px 5px 0 5px;"><a href="/index.php/user/message/type/noread" class="gray6c_12 noneline"><img src="<?=$image_site_url?>/images/component/head_foot/mail.gif" /></a></span>
		 </div>
         <? }?>
         <a href="/index.php/user/info" class="gray6c_12 noneline"><?=$user_nickname?></a><span <? if($user_vip==1) echo 'class="vip_h"';?>>欢迎您</span>
		 <? }
		 if(isset($is_login)&&$is_login==0){?>
         <a href="/index.php/help/newuser" target="_blank" class="gray6c_12 noneline">帮助</a>
         <span>|</span> <a href="<?=$GLOBALS ['gSiteInfo'] ['bbs_site_url']?>" target="_blank" class="gray6c_12 noneline">论坛</a>
         <span>|</span>
         <a href="/index.php/help/hdgg" accesskey="" class="gray6c_12 noneline">活动</a>
         <span>|</span><a href="/index.php/passport/reg" class="gray6c_12 noneline">注册</a><span>|</span>
		<a href="javascript:show_loginwin();" class="gray6c_12 noneline">登录</a>
		 <? }?>
		</div>
      </div>

	  <div class="logo_nav">
      	<div class="logo">
            <div class="logo_up" id="festImage"></div>
            <a href="/index.php" class="logo_alink" title="果动网"></a>
        </div>
        <div class="nav" style="margin-right:7px; _margin-right:0;">
        	<div class="index"><a href="/index.php" <? if(!isset($_GET['view'])) echo 'class="cur"';?>></a></div>
            <div class="xg3d"  onmouseover="show_subnav('ztg_subnav','xg3d_a');hid_subnav('wdgd_sub','wdgd_a')" onmouseout="autohiden('ztg_subnav','xg3d_a')">
            	<a href="/index.php/show/frameset" id="xg3d_a"></a>
            	<div class="ztg_subnav" style="display:none;" id="ztg_subnav">
                	<a href="/index.php/show/frameset/recommend">搭配</a>
					<a href="/index.php/show/frameset/clothes">装扮</a>
					<a href="/index.php/show/frameset/motion">动作</a>
                    <a href="/index.php/show/frameset/background">场景</a>
					<a href="/index.php/show/frameset/music">音乐</a>
					<a href="/index.php/show/frameset/diy">DIY</a>
					<a href="/index.php/show/frameset/subject">专题</a>
                    <a href="/index.php/show/frameset/vip" class="vip_zq">
						VIP专区<span><img src="<?=$image_site_url?>/images/component/head_foot/meng.gif" /></span>
					</a>
             	</div>
            </div>

            <div class="yx3d"><a href="/index.php/index/gameintro" <? if(isset($_GET['view']) && $_GET['view']=='gameintro') echo 'class="cur"';?>></a></div>
            <div class="gdby"><a href="/index.php/index/example" <? if(isset($_GET['view']) && $_GET['view']=='example') echo 'class="cur"';?>></a></div>
            <div class="bbs"><a href="<?=$GLOBALS ['gSiteInfo'] ['bbs_site_url']?>" target="_blank" <? if(isset($_GET['view']) && $_GET['view']=='hdgg') echo 'class="cur"';?>></a></div>
            <div class="xszn"><a href="/index.php/help/newuser"></a></div>
            <div class="wdgd" onmouseover="show_subnav('wdgd_sub','wdgd_a');hid_subnav('ztg_subnav','xg3d_a')" onmouseout="autohiden('wdgd_sub','wdgd_a');">
            	<a href="/index.php/user/info"  id="wdgd_a"></a>
            	<div class="ztg_subnav" style="display:none;" id="wdgd_sub">
                    <div class="subnav_l">
                        <a href="/index.php/user/info" <? if(isset($cur) && $cur=='info') echo 'class="vip_zq subcur"'; else echo 'class="vip_zq"'?>>个人资料</a>
                        <a href="/index.php/user/pwd" <? if(isset($cur) && $cur=='pwd') echo 'class="vip_zq subcur"'; else echo 'class="vip_zq"'?>>密码修改</a>
                        <a href="/index.php/user/friends" <? if(isset($cur) && $cur=='friends') echo 'class="vip_zq subcur"'; else echo 'class="vip_zq"'?>>好友收藏</a>
                        <a href="/index.php/user/message" <? if(isset($cur) && $cur=='message') echo 'class="vip_zq subcur"'; else echo 'class="vip_zq"'?>>消息中心</a>
                        <a href="/index.php/charge" <? if(isset($cur) && $cur=='charge') echo 'class="vip_zq subcur"'; else echo 'class="vip_zq"'?>>充值中心</a>
                    </div>
                  <div class="subnav_r"></div>
             	</div>
            </div>

        </div>
        <div class="clr"></div>
      </div>
	</div>
</div>